@import '../../theme/theme';
page-generate-qrcode {
    .qr-code-head {
        text-align: center;
        background-color: header-background();

        .r-icon {
          text-align: left;
        }            
        ion-icon {
          font-size: 25px;
          color: icon-color();
        }
        h2 {
            color: white;
            margin-top: 14px;
            font-family: 'Proxima-Semibold';
        }
    }//header

    
    .qr-code-body{
        text-align: center;

        .the-rows {
            margin: 0;
            padding: 0 15px;
        }

        ion-item {
            padding: 0;
            border-bottom: 1px solid #335a67;
        }

        ion-icon {
            color: #335a67;
            font-size: 25px;
        }
        
        ion-label {
            margin-bottom: 0;
            color: #335a67;
            font-weight: 700;
        }

        ion-input {
            margin: 0;
            color: #335a67;             
        }

        ion-select {
            font-size: 14px;
            color: #335a67;
            font-weight: 700;
            max-width: 100%;
          }

    }

        
    
}
