@import "../../../theme/theme";

.submit-btn{
    background-color: btn-color-dark();
}

.submit-btn:active,.submit-btn:hover,.submit-btn:focus{
    background-color: btn-color-light();
}


.online-card-head{

    background-color: header-background();

    ion-icon{
        color: icon-color();
    }

    h2{
        color: header-text-color();
    }
}