<ion-header>
    <ion-grid no-padding class="online-card-head">
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                  <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
                </button>
              </ion-col>
            <ion-col>
                <h2>{{ title |translate}}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label >
                <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>{{'Amount'|translate}}
            </ion-label>

            <p item-end>
                <b>{{amount}} {{'EGP'|translate}}</b>
            </p>
        </ion-item>
        <ion-item>
            <ion-label item-start>
                <ion-icon name="logo-usd" item-left></ion-icon>{{'Fees'|translate}}
            </ion-label>

            <p item-end>
                <b>{{fees}} {{'EGP'|translate}}</b>
            </p>
        </ion-item>
    </ion-list>

    <ion-row>
        <ion-item>
            <ion-label stacked>{{'mPIN'|translate}}</ion-label>
            <ion-input style="-webkit-text-security:disc;" [(ngModel)]="mpin" name="mpin" (ngModelChange)="detectPinChange($event)" type="number"
                placeholder="{{'Enter-the'|translate}} {{'mPIN'|translate}}"></ion-input>
        </ion-item>
    </ion-row>


    <ion-row padding style="border:none;">
        <ion-col col-12 *ngIf="mpin && mpin.length===6">
            <button block ion-button color="primary" (click)="generateOtp()">{{'CONFIRM'|translate}}</button>
        </ion-col>
    </ion-row>

</ion-content>