<ion-header >
    <ion-grid no-padding class="qr-code-head">
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{'Generate Qr-Code'|translate}}</h2>
            </ion-col>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear>
                    <img src="assets/its/home-icon.png" alt="">
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content no-padding>

    <ion-grid class="qr-code-body">
        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>
                    <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>{{'Amount'|translate}}
                    <span style="color: grey">({{'optional'|translate}})</span>
                </ion-label>
                <ion-input [(ngModel)]="amount" (ngModelChange)="detectAmountChange($event)" type="number" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <!-- additional info labels -->
        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Tips'|translate}}</ion-label>
                <ion-toggle [checked]="tips" [(ngModel)]="tips"></ion-toggle>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Bill number'|translate}}</ion-label>
                <ion-toggle [(ngModel)]="labels.billNumber" (ionChange)="toggleChanged(labels.billNumber,'billNumber')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.billNumber" type="number" [(ngModel)]="billNumberField"
                    placeholder="{{'Enter-the'|translate}} {{'Bill number' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'m-n'|translate}}</ion-label>
                <ion-toggle [checked]="labels.mobileNumber" [(ngModel)]="labels.mobileNumber" 
                    (ngModelChange)="toggleChanged(labels.mobileNumber,'mobileNumber')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.mobileNumber" type="number" [(ngModel)]="mobileNumberField"
                    placeholder="{{'Enter-the'|translate}} {{'m-n' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Store Label'|translate}}</ion-label>
                <ion-toggle [checked]="labels.storeLabel" [(ngModel)]="labels.storeLabel"
                    (ngModelChange)="toggleChanged(labels.storeLabel,'storeLabel')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.storeLabel" type="text" [(ngModel)]="storeLabelField"
                    placeholder="{{'Enter-the'|translate}} {{'Store label' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Loyalty number'|translate}}</ion-label>
                <ion-toggle [checked]="labels.loyaltyNumber" [(ngModel)]="labels.loyaltyNumber" 
                    (ngModelChange)="toggleChanged(labels.loyaltyNumber,'loyaltyNumber')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.loyaltyNumber" type="number" [(ngModel)]="loyaltyNumberField"
                    placeholder="{{'Enter-the'|translate}} {{'Loyalty number' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Reference number'|translate}}</ion-label>
                <ion-toggle [checked]="labels.referenceLabel" [(ngModel)]="labels.referenceLabel" 
                    (ngModelChange)="toggleChanged(labels.referenceLabel,'referenceLabel')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.referenceLabel" type="number" [(ngModel)]="referenceLabelField"
                    placeholder="{{'Enter-the'|translate}} {{'Reference number' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Customer Label'|translate}}</ion-label>
                <ion-toggle [checked]="labels.customerLabel" [(ngModel)]="labels.customerLabel" 
                    (ngModelChange)="toggleChanged(labels.customerLabel,'customerLabel')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.customerLabel" type="text" [(ngModel)]="customerLabelField"
                    placeholder="{{'Enter-the'|translate}} {{'Customer Label' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Terminal label'|translate}}</ion-label>
                <ion-toggle [checked]="labels.terminalLabel" [(ngModel)]="labels.terminalLabel" 
                    (ngModelChange)="toggleChanged(labels.terminalLabel,'terminalLabel')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.terminalLabel" type="text" [(ngModel)]="terminalLabelField"
                    placeholder="{{'Enter-the'|translate}} {{'Terminal label' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="the-rows">
            <ion-item>
                <ion-label stacked>{{'Purpose of transaction'|translate}}</ion-label>
                <ion-toggle [checked]="labels.purposeOfTransaction" [(ngModel)]="labels.purposeOfTransaction"
                    [disabled]="isDisabled('purposeOfTransaction')" (ngModelChange)="toggleChanged(labels.purposeOfTransaction,'purposeOfTransaction')"></ion-toggle>
                <ion-input maxlength="25" *ngIf="labels.purposeOfTransaction" type="text" [(ngModel)]="purposeOfTransactionField"
                    placeholder="{{'Enter-the'|translate}} {{'Purpose of transaction' |translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row>
            <div style="width: 100%;padding-top: 10px;">
                <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
            </div>
        </ion-row>


    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <button class="submit-btn" style="width:100%" ion-button (click)="generateCode()">{{'Generate
            Qr-Code'|translate}}</button>
    </ion-toolbar>
</ion-footer>