@import "../../../theme/theme";

page-dynamic-qrcode {

    .submit-btn{
        background-color: btn-color-dark();
    }
    
    .submit-btn:active,.submit-btn:hover,.submit-btn:focus{
    background-color: btn-color-light();
    }

    .qr-code-head {
        text-align: center;
        background-color: header-background();

        .r-icon {
          text-align: left;
        }            
        ion-icon {
          font-size: 25px;
          color: icon-color();
        }
        h2 {
            color: white;
            margin-top: 14px;
            font-family: 'Proxima-Semibold';
        }
    }//header

    
    .qr-code-body{

        text-align: center;
        padding: 10px;

        .the-rows {
            margin: 0;
            padding: 0 15px;
        }

        ion-item {
            padding: 0;
            border-bottom: 1px solid input-border-color();
        }

        ion-icon {
            color: icon-color();
            font-size: 25px;
        }
        
        ion-label {
            margin-bottom: 0;
            color: ion-label-color();
            font-weight: 700;
        }

        ion-input {
            margin: 0;
            color: ion-input-color();
            font-size: 14px;
            padding: 0 5px;             
        }

        ion-input::placeholder{
            color:red;
        }

        ion-select {
            font-size: 14px;
            color: text-color();
            font-weight: 700;
            max-width: 100%;
          }

        button {
            margin-top: 10%;
            font-size: 18px;
            border-radius: 0;
        }

        canvas {
            margin: 0 auto;
        }
    }
    
}
