<ion-header class="statistics-header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'statistics'|translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content no-padding>
  <div class="statistics-body">
    <ion-grid class="the-contianer">
      <ion-row>
        <ion-col class="balance-row">
          <p>{{'c-b'|translate}}</p>
          <h2>{{statistics?.current_balance | number:'.2-2'}} {{'EGP'|translate}}</h2>
        </ion-col>
      </ion-row>
      
      <div class="total-row">
        <ion-row class="head">
          <ion-col><h3>{{'TOTAL'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</h3></ion-col>
          <ion-col col-2><img src="assets/in-out.png"></ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-col>
            <div class="l-b"><p>{{'i-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.global.credit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="r"><p>{{'i-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.global.credit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
          <ion-col>
            <div class="g"><p>{{'o-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.global.debit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="b"><p>{{'o-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.global.debit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
        </ion-row>
      </div>
      
      
      <div class="sales-row">
        <ion-row class="head">
          <ion-col><h3>{{'TOTAL'|translate}} {{'SALES'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</h3></ion-col>
          <ion-col col-2><img src="assets/sales.png"></ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-col>
            <div class="l-b"><p>{{'i-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.sales.credit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="r"><p>{{'i-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.sales.credit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
          <ion-col>
            <div class="g"><p>{{'o-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.sales.debit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="b"><p>{{'o-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.sales.debit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
        </ion-row>
      </div>

      <div class="cash-row">
        <ion-row class="head">
          <ion-col><h3>{{'TOTAL'|translate}} {{'CASH'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</h3></ion-col>
          <ion-col col-2><img src="assets/cash.png"></ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-col>
            <div class="l-b"><p>{{'i-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.cash.credit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="r"><p>{{'i-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.cash.credit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
          <ion-col>
            <div class="g"><p>{{'o-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.cash.debit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="b"><p>{{'o-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.cash.debit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
        </ion-row>
      </div>
      
      <div class="deposit-row">
        <ion-row class="head">
          <ion-col><h3>{{'TOTAL'|translate}} {{'DEPOSIT'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</h3></ion-col>
          <ion-col col-2><img src="assets/desposit.png"></ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-col>
            <div class="l-b"><p>{{'i-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.deposit.credit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="r"><p>{{'i-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.deposit.credit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
          <ion-col>
            <div class="g"><p>{{'o-c'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.deposit.debit_daily_count | number}}</h6>
          </ion-col>
          <ion-col>
            <div class="b"><p>{{'o-a'|translate}}</p></div>
            <h6>{{statistics?.agInfo?.deposit.debit_daily_amount | number:'.2-2'}}</h6>
          </ion-col>
        </ion-row>
      </div>

      <div class="deposit-row">
        <ion-row class="head">
          <ion-col><h3>{{'TOTAL'|translate}} {{'TIPS'|translate}} {{'&'|translate}} &amp; {{'COMMS'|translate}}</h3></ion-col>
          <ion-col col-2><img src="assets/desposit.png"></ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-col>
            <div class="l-b"><p>{{'i-c'|translate}}</p></div>
            <h6>{{statistics?.tips| number}}</h6>
          </ion-col>
          <ion-col>
            <div class="r"><p>{{'i-a'|translate}}</p></div>
            <h6>{{statistics?.commissions | number}}</h6>
          </ion-col>

        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
