@import '../../theme/theme';
page-statistics {
    .statistics-header {
        background-color: header-background();
        text-align: center;
  
        .r-icon {
          text-align: left;
        }
        .l-icon {
          text-align: right;
        }
        ion-icon {
          font-size: 25px;
          color: icon-color();
        }
        h2 {
          color: white;
          //margin: 0 0 5px 0;
          margin-top: 14px;
          font-family: 'Proxima-Semibold';
        }
    } // END HEADER


    .statistics-body {

        .the-contianer {
            display: flex;
            flex-direction: column;
            padding: 0;

            ion-row {
                padding: 15px 0;
            }

            .balance-row {
                flex: 2;
                height: 110px;
                background-image: url('../assets/statistics-bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                text-align: center;
                p {
                    color: #335A67;
                    font-size: 20px;
                }
                h2 {
                    margin: -10px 0 0 0;
                    color: #335A67;
                    font-weight: 700;
                }
            } // BALANCE-ROW

            .total-row {
                flex: 1;
                .head {
                    background-color: #F1D18A;
                    padding: 0;
                }
            } //TOTAL-ROW

            .sales-row {
                flex: 1;
                .head {
                    background-color: #73B1C1;
                    padding: 0;
                }
            } // SALES-ROW

            .cash-row {
                flex: 1;
                .head {
                    background-color: #588D9C;
                    padding: 0;
                }

                img {
                    margin-top: 17px;
                }
            } // CASH-ROW

            .deposit-row {
                flex: 1;
                .head {
                    background-color: #36626A;
                    padding: 0;
                }
            } // DEPOSIT-ROW


            .body {
                text-align: center;
                padding-top: 0;
                ion-col {
                    padding: 0 5px;
                }
                div {
                    height: 20px;
                    border-radius: 8px;
                }
                p {
                    color: white;
                    line-height: 2rem;
                    font-size: 10px;
                }
                .l-b {
                    background-color: #78BBE6;
                }
                .r {
                    background-color: #FF895D;
                }
                .g {
                    background-color: #239D60;
                }
                .b {
                    background-color: #3F52E3;
                }
            }

            div {
                margin-top: 5px;
            }

            img {
                width: 40px;
                height: auto;
                margin: 8px 0 0 0;
            }

            h3 {
                color: white;
            }

            h6 {
                font-size: 20px;
            }
        }
    }
}
