<ion-header>
    <ion-grid no-padding class="statistics-header">
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{'statistics'|translate}}</h2>
            </ion-col>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear (click)="home()">
                    <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
                    <img class="home-icon" src="assets/egbank/home2-icon.png">
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content>

    <div class="statistics-body">
        <ion-grid class="the-contianer">
            <ion-row>
                <ion-col class="balance-row">
                    <h2>{{'c-b'|translate}}</h2>
                    <h2>{{statistics?.current_balance | number:'.2-2'}} {{'EGP'|translate}}</h2>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="total">
                        <li class="head">{{'TOTAL'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</li>
                        <li>
                            <h6>{{'i-c'|translate}}</h6>
                            <h6>{{statistics && statistics.agInfo? statistics.agInfo.global.credit_daily_count :0 | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'i-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.global.credit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.global.debit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.global.debit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="total">
                        <li class="head">{{'TOTAL'|translate}} {{'SALES'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</li>
                        <li>
                            <h6>{{'i-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.sales.credit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'i-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.sales.credit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.sales.debit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.sales.debit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="total">
                        <li class="head">{{'TOTAL'|translate}} {{'CASH'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</li>
                        <li>
                            <h6>{{'i-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.cash.credit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'i-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.cash.credit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.cash.debit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.cash.debit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="total">
                        <li class="head">{{'TOTAL'|translate}} {{'DEPOSIT'|translate}} {{'IN'|translate}} &amp; {{'OUT'|translate}}</li>
                        <li>
                            <h6>{{'i-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.deposit.credit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'i-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.deposit.credit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-c'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.deposit.debit_daily_count | number}}</h6>
                        </li>
                        <li>
                            <h6>{{'o-a'|translate}}</h6>
                            <h6>{{statistics?.agInfo?.deposit.debit_daily_amount | number:'.2-2'}}</h6>
                        </li>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-content>