<ion-header >
    <ion-grid class="bills-head" no-padding>
      <ion-row>
        <ion-col col-1 class="r-icon" no-padding>
          <button ion-button clear icon-only (click)="back()">
            <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
          </button>
        </ion-col>
        <ion-col>
            <h2>{{'Details'|translate}} {{'Confirmation'|translate}}</h2>
        </ion-col>
        <ion-col col-2 class="l-icon" no-padding>
          <button ion-button clear icon-only (click)="home()">
            <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
 <img class="home-icon" src="assets/egbank/home2-icon.png" > 
          </button>
        </ion-col>
      </ion-row>
    </ion-grid><!--END OF THE HEADER-->
  </ion-header>
  
  <ion-content no-padding>
    <div class="confirmation-body">
      
  
      <ion-grid class="body-section" padding>
        <div class="el-container" padding>
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'Recipient'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{recipient}}</p>
            </ion-col>
          </ion-row>
  
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'Amount'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{amount | number:'.2-2'}}</p>
            </ion-col>
          </ion-row>
          
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'Fees'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{totalFees}}</p>
            </ion-col>
          </ion-row>
          
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'Commissions'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{commissions}}</p>
            </ion-col>
          </ion-row>
  
  
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'Convenience'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{convenience | number:'.2-2'}}</p>
            </ion-col>
          </ion-row>
  
          <ion-row class="bill-area">
            <ion-col class="r">
              <p>{{'total'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{  (totalAmount < 0) ? viewTotalAmount(totalAmount) :  (totalAmount | number:'.2-2')  }}</p>
            </ion-col>
          </ion-row>
          
          <div class="c1"></div>
          <div class="c2"></div>
  
          <ion-row>
            <ion-col class="r">
              <p>{{'new-balance'|translate}}</p>
            </ion-col>
            <ion-col class="l">
              <p>{{newBalance | number:'.2-2'}}</p>
            </ion-col>
          </ion-row>
        </div>
  
        <p>{{'confirm-mpin'|translate}}</p>
        
        
        <ion-item class="inputarea" padding>
          <ion-input  type="number" style="-webkit-text-security:disc;" [(ngModel)]="mpin" (ngModelChange)="detectPinChange($event)"></ion-input>
        </ion-item>
        <div *ngIf="mpinMsg" class="notValid">{{mpinMsg}}</div>
      </ion-grid><!--END OF THE BODY-->
  
      <ion-row padding>
        <button ion-button block (click)="confirm()" class="el-button">{{'CONFIRM'|translate}}</button>
      </ion-row>
      
    </div>
  </ion-content>