<ion-content no-padding class="login-body">
  <div >

    <div class="content-bg">

      <form action="">
        <!-- <ion-row class="el-logo">
          <ion-col>
            <img src="assets/the-logo.png">
          </ion-col>
        </ion-row> -->

        <ion-row class="input-row">
          <ion-item class="wallet-id">
            <ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
            <ion-label floating>{{'WALLET ID'|translate}}</ion-label>
            <ion-input type="number" name="walletId" [(ngModel)]="walletId" (ngModelChange)="detectMobileChange($event)"></ion-input>
          </ion-item>

          <ion-item class="wallet-pin">
            <ion-icon name="lock" item-left></ion-icon>
            <ion-label floating>
              <ion-icon name="ion-ios-locked"></ion-icon>{{'mPIN'|translate}}</ion-label>
            <ion-input type="text" style="-webkit-text-security:disc;" [pattern]="pattern" name="mPin" [(ngModel)]="mPin" (ngModelChange)="detectPinChange($event)"></ion-input>
          </ion-item>
        </ion-row>


        <ion-row class="forget-link">
          <ion-col>
            <li (click)="forgotMpin()" class="forget">{{'forget'|translate}}</li>
          </ion-col>
        </ion-row>

        <ion-row class="the-btn">
          <ion-col col-10 no-padding>
            <button type="submit" outline block ion-button (click)="validate()" id="valid-btn">{{'Login'|translate}}</button>
          </ion-col>
          <ion-col col-10 no-padding>
            <button type="submit" outline block ion-button (click)="signUp()" id="act-btn">{{'splash.2'|translate}}</button>
          </ion-col>
        </ion-row>


      </form>

      <!-- <div class="white-space"></div> -->

      <!-- <div class="the-bottom">
        <img src="assets/bg2.png">
      </div> -->

    </div>

  </div>
</ion-content>
