page-login {
 
    .login-body {
        text-align: center;
        height: 100%;
        position: fixed;
        width: 100%;
        background-color: login-background-color() ; 
        
        // display: flex;
        // flex-direction: column;
      
        .el-logo {
            // top: 5%;
            // position: fixed;
            // width: 100%;
            margin-top: 15px;
            img {
                width: 130px;
                height: auto;
            }
        }
        
        .input-row {
            margin-top: 60px;
            padding: 0 15px;
            padding-right: 10px;
            padding-left: 10px;
            ion-input {
                background-color:ion-input-color();
                border-bottom: 1px solid white;
                color:icon-color() 
            }
            ion-label {
                color:ion-input-icon-color();
                font-size: 17px;
                font-family: 'Proxima-Light';
                background-color: ion-input-color();
            }
            ion-item {
                padding: 0;
                background-color: ion-input-color();
            }

            ion-icon {
                color:ion-input-icon-color();
                font-size: 35px;
            }
        }

        .wallet-pin{
            margin-top: 20px;
        }

        .forget-link {
            margin-top: 1rem;
            li {
                list-style: none;
                margin: 0 auto;
                width: 50%;
                font-size: 15px;
                font-family: 'Proxima-Semibold';
                color: background-color()

            }
            .forget{
                color: text-color()
            }
        }

        .the-btn {
            margin-top: 2rem;
            #valid-btn {
                color: btn-color-dark();
                border: 1px solid btn-color-dark(); 
                border-radius: 0;
                font-family: 'Proxima-Regular';
                font-size: 18px;
                transition: .4s;
            }
            button:active {
                background-color: login-background-color();
                //border: 1px solid ;
                border-radius: 0;
                color: background-color();
                transition: .4s;
            }
            #act-btn {
                background-color:btn-color-dark();
                color: white;
                border: 1px solid btn-color-dark();
                border-radius: 0;
                font-family: 'Proxima-Regular';
                font-size: 18px;
                transition: .4s;
            }
            #act-btn:active {
                background-color: white;
                border: 2px solid background-color();
                color: background-color();
                transition: .4s;
            }
        }

        .white-space {
            // position: fixed;
            // bottom: 18%;
            z-index: 1;
            width: 100%;
            height: 21%;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            background-color: white;    
            opacity: 0;
        }


        .the-bottom {
            // position: fixed;
            // bottom: 0%;
            width: 100%;
            height: 20%;
            background-color: rgb(255, 115, 0);
            //border-top-left-radius: 100%;
            border-top-right-radius: 80%;
            text-align: left;
            padding: 20px 20px 10px 20px;
            
            img {
                width: 220px;
                height: auto;
            }
           
        }
    }//Body


    .scroll-content {
        padding: 0 !important;
        background-color: white;
    }
}
