<ion-header >
  <ion-grid no-padding class="change-mpin-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'Change'|translate}} {{'mPIN' | translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>

<ion-list>

  <ion-item>
    <ion-label floating>{{'Old'|translate}} {{'mPIN' | translate}}</ion-label>
    <ion-input type="number" style="-webkit-text-security:disc;"   name="old_mPin" [(ngModel)]="old_mPin" (ngModelChange)="detectOldMpinChange($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>{{'New'|translate}} {{'mPIN' | translate}}</ion-label>
    <ion-input type="number" style="-webkit-text-security:disc;"   name="new_mPin" [(ngModel)]="new_mPin" (ngModelChange)="detectNewMpinChange($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>{{'Confirm'|translate}} {{'mPIN' | translate}}</ion-label>
   <ion-input type="number" style="-webkit-text-security:disc;"   name="confirm_mPin" [(ngModel)]="confirm_mPin" (ngModelChange)="detectConfirmMpinChange($event)"></ion-input>
  </ion-item>

</ion-list>

 <div padding>
      <button ion-button color="primary" block (click)="submit()">{{'Submit'|translate}}</button>
    </div>

</ion-content>
