@import '../../theme/theme';

.submit-btn{
  background-color: btn-color-dark();
}
.scroll-content{
  background-image: unset !important
}
page-change-mpin {
.change-mpin-head {
    text-align: center;
    background-color: header-background();

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      font-weight: 500;
      //margin: 0 0 5px 0;
      margin-top: 12px;
    }
  } // THE HEAD

  

}
