@import '../../theme/theme';

.alert-ios [aria-checked=true] .alert-radio-label{
  color: icon-color()
}

.alert-ios [aria-checked=true] .alert-radio-inner{
  border-color: icon-color();
}

.alert-ios .alert-button{
  color:text-color();
}

page-cash-r2p {


  .cash-r2p-header {
    text-align: center;
    background-color: header-background();

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: header-text-color();
      margin-top: 14px;
    }
  }//EL HEAD


  .cash-body {
    text-align: center;
    
    p {
      margin: 30px 0 0 0;
      font-size: 16px;
      color: detail-text-color();
      font-weight: 600;
    }

    .the-rows{
      margin: 15px 0 0 0;
      border-bottom: 1px solid input-border-color();
    }

    ion-item {
      padding: 0;
    }

    ion-label {
      margin-bottom: 0;
      color: ion-label-color();
      font-weight: 700;
    }

    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 14px;
      padding: 0 5px;
    }
    
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    .the-select-item {
      ion-select {
        font-size: 14px;
        color: text-color();
        font-weight: 700;
        max-width: 100%;
      }
    }

    .col-1{
      text-align: right;
      margin: 15px 0 0 0;
    }

    ion-row {
      padding: 0 5px;
    }

    .submit-btn{
      background-color: btn-color-dark();
    }

    .submit-btn:active{
      background-color: btn-color-light();
    }

    button {
      font-size: 18px;
      border-radius: 0;
    }
  }  
}
