<ion-header >
	<ion-grid no-padding class="cash-r2p-header">
		<ion-row>
			<ion-col col-1 class="r-icon" no-padding>
				<button ion-button clear icon-only (click)="back()">
					<ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<h2>{{ 'title.cash-r2p.'+ title|translate}}</h2>
			</ion-col>
			<ion-col col-2 class="l-icon">
				<button ion-button clear icon-only (click)="favourite()">
					<ion-icon ios="ios-star-outline"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content no-padding>
	<div class="cash-body">

		<form action="" padding>
			<p>{{ 'title.cash-r2p.'+ title|translate}}: {{ 'title.cash-r2p.' + title +'-desc' |translate}}</p>

			<ion-row class="the-rows">
				<ion-col col-11>
					<ion-item>
						<ion-label stacked>{{"m-n"|translate}}</ion-label>
						<ion-input type="number" [(ngModel)]="mobile_numebr" name="mobileNumber" (ngModelChange)="detectNumberChange($event)" placeholder="{{'Enter-the'|translate}} {{'m-n'|translate}}"></ion-input>
						<ion-icon name="phone-portrait" item-left></ion-icon>
					</ion-item>
				</ion-col>
				<ion-col col-1 class="col-1">
					<ion-icon name="contact" item-right (click)="getContact()"></ion-icon>
				</ion-col>
			</ion-row>

			<ion-row class="the-rows">

				<ion-item>
					<ion-label stacked>{{"Amount"|translate}}</ion-label>
					<ion-input type="number" [(ngModel)]="amount" name=amount (ngModelChange)="detectAmountChange($event)" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
					<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
				</ion-item>

			</ion-row>

			<ion-row *ngIf="showMpin" class="the-rows">

				<ion-item>
					<ion-label stacked>{{"mPIN"|translate}}</ion-label>
					<ion-input style="-webkit-text-security:disc;" type="number" [(ngModel)]="mpin" name="mpin" (ngModelChange)="detectPinChange($event)"
					 placeholder="{{'Enter-the'|translate}} {{'mPIN'|translate}}"></ion-input>
					<ion-icon name="lock" item-left></ion-icon>
				</ion-item>

			</ion-row>

			<ion-row *ngIf="pageType==='r2p'" class="the-rows">

				<ion-item class="the-select-item">
					<ion-label stacked>{{'Tips'|translate}}</ion-label>
					<ion-toggle [checked]="tip" name="tip" [(ngModel)]="tip"></ion-toggle>
					<!-- <ion-label>Tip or Convenience</ion-label> -->
					<!-- <ion-select [(ngModel)]="tipOrConvenience" name=tipOrConvenience>
						<ion-option value='none'>{{"tip-or-con"|translate}}</ion-option>
						<ion-option value="tip">{{"Tip"|translate}}</ion-option>
						<ion-option value="convenience">{{"Convenience"|translate}}</ion-option>
					</ion-select> -->
				</ion-item>

			</ion-row>

			<ion-row *ngIf="tipOrConvenience=='convenience'" class="the-rows">

				<ion-item>
					<ion-label stacked>{{"Convenience"|translate}}</ion-label>
					<ion-input type="number" [(ngModel)]="convenience" name="convenience" (ngModelChange)="detectConvenienceChange($event)"></ion-input>
					<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
				</ion-item>

			</ion-row>

			<ion-row *ngIf="pageType==='r2p'" class="the-rows">

				<ion-item>
					<ion-label stacked>{{"bill id"|translate}}</ion-label>
					<ion-input type="text" [(ngModel)]="reference1" name="billNumber" placeholder="{{'Enter-the'|translate}} {{'bill id'|translate}}"></ion-input>

				</ion-item>

			</ion-row>

			<ion-row *ngIf="pageType==='r2p'" class="the-rows">

				<ion-item>
					<ion-label stacked>{{"reference"|translate}}</ion-label>
					<ion-input type="text" [(ngModel)]="reference2" name="referenceLabel" placeholder=" {{'Enter-the'|translate}} {{'reference'|translate}}"></ion-input>
				</ion-item>

			</ion-row>

			<ion-row style="margin-top:10px;">
				<button ion-button full (click)="validate()" class="submit-btn">{{"Submit"|translate}}</button>
			</ion-row>
		</form>



		<ion-row *ngIf="pageType==='r2p'">
			<div style="width: 100%;">
				<img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
			</div>
		</ion-row>

	</div>
</ion-content>