@import '../../theme/theme';

page-history-details {
  .scroll-content{
  background-image: unset !important
}
  ion-header {
    text-align: center;
    .head-sec {
      background-color: header-background();

      .r-icon {
        text-align: left;
      }
      .l-icon {
        text-align: right;
      }
      ion-icon {
        font-size: 25px;
        color: icon-color();
      }
      h2 {
        color: white;
        font-weight: 500;
        margin-top: 14px;
        font-family: 'Proxima-Semibold';
      }
      p {
        font-size: 16px;
        color: white;
        font-family: 'Proxima-Regular';
        margin-bottom: 10px;
      }


      .btn-area {
        margin-top: 10px;

        button {
          color: white;
          width: 100%;
          transition: .4s;
        }
        button:hover {
          border-bottom: 2px solid white;
          transition: .4s;
        }
      }
    }
  } //THE HEADER

  .history-body {
    width: 100%;
    text-align: center;
    padding-top: 10px;

    .body-sec {
      padding: 5px 10px 5px 5px;

      .the-container {
        margin: 5px 2px 0 2px;
        padding: 10px 0 ;
        width: 100%;
        border-radius: 8px;
        background-color: #9fa8a3;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.6);
        

        .checking {
          border-right: 2px solid white;
          div {
            margin: 0 auto;
            height: 30px;
            width: 30px;
            border-radius: 8px;
            //border-radius: 50%;
            //background-color: #FFFDFB;
          
            
            ion-icon {
              margin: 1px auto 0 auto;
              font-size: 40px;
              font-weight: 900;
            }
          }

          p {
            margin-top: 25px;
            font-size: 1 3px;
          }
        }

        .el-details-col {
          text-align: center;
          .req, .amount {
            text-align: left;
          }
          p {
            font-weight: 600;
            font-size: 15px;
          }
          .time {
            font-weight: 500;
            font-size: 13px;
            margin-top: 10px;
          }
        }
        
        p {
          color: white;
          font-size: 16px;
        }

        

      }//END OF CONTINER

    }//END OF BODY SEC

  }// END OF HISTORY BODY
}

.hidden {
  display: none;
}
