<body>
<ion-header>
  <ion-grid class="head-sec" no-padding>
    <ion-row class="title">
      <ion-col col-2 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon class="back-icon" ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'Transactions History'|translate}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>


    <p>{{"Track your daily usage and expenditure"|translate}}</p>

    <ion-row class="btn-area">
      <ion-col>
        <div>
          <button ion-button full clear (click)="showAll()">{{"ALL"|translate}}</button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <button ion-button full clear (click)="hideReceiver()">{{"SENT"|translate}}</button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <button ion-button full clear (click)="hideSender()">{{"RECEIVED"|translate}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="history-body">
  <ion-grid class="body-sec" no-padding  >

    <ion-card *ngFor="let req of requests|filterHistory:walletId:select" class="the-container" (click)="viewSingleTxDetials(req)">
      <ion-row *ngIf="select==='reciever'">


        <ion-col col-3 class="checking">
          <div class="checking-type" *ngIf="req.receiver_status == 'Approved'">
            <ion-icon name="checkmark" [ngStyle]="{'color':'#00e676'}"></ion-icon>
          </div>
          <div class="checking-type" *ngIf="req.receiver_status !== 'Approved'">
            <ion-icon name="close" [ngStyle]="{'color':'#f44336'}"></ion-icon>
          </div>
          <p>{{req?.Transaction_type?.name}}</p>
        </ion-col>

        <ion-col class="el-details-col">
          <ion-row class="req">
            <ion-col class="L">
              <p class="sender">{{'Sender'|translate}}</p>
            </ion-col>
            <ion-col class="Left">
              <p >{{ req?.sender_name || ''}} {{ '(' + req?.sender_identifier + ')' }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="amount">
            <ion-col class="L">
              <p class="sender">{{'Amount'|translate}}</p>
            </ion-col>
            <ion-col class="Left">
              <p>{{req.amount}} {{'EGP'|translate}}</p>
            </ion-col>
          </ion-row>
          <p class="time">{{req.updatedAt | date:'dd-MM-yy, hh:mm a' }}</p>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="select==='sender'">
        <ion-col col-3 class="checking">
          <div class="checking-type" *ngIf="req.sender_status == 'Approved'">
            <ion-icon name="checkmark" [ngStyle]="{'color':'#00e676'}"></ion-icon>
          </div>
          <div class="checking-type" *ngIf="req.sender_status !== 'Approved'">
            <ion-icon name="close" [ngStyle]="{'color':'#f44336'}"></ion-icon>
          </div>
          <p class="Left">{{req?.Transaction_type?.name}}</p>
        </ion-col>

        <ion-col class="el-details-col">
          <ion-row class="req">
            <ion-col [ngClass]="{'hidden':req.Transaction_type.name === 'OTP Issuance'}">
              <p class="sender">{{'Receiver'|translate}}</p>
            </ion-col>
            <ion-col>
              <p class="Left">
                {{ req?.receiver_name || '' }} {{ '(' + req?.reciever_identifier + ')' }}
              </p>
            </ion-col>
          </ion-row>

          <ion-row class="amount">
            <ion-col class="L">
              <p class="sender">{{'Amount'|translate}}</p>
            </ion-col>
            <ion-col class="R Left">
              <p>{{req.amount}} {{'EGP'|translate}}</p>
            </ion-col>
          </ion-row>
          <p class="time">{{req.updatedAt | date:'dd-MM-yy, hh:mm a'}}</p>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="!select && senderOrReceiver(req,'sender')">
        <ion-col col-3 class="checking">
          <div class="checking-type" *ngIf="req.sender_status == 'Approved'">
            <ion-icon name="checkmark" [ngStyle]="{'color':'#00e676'}"></ion-icon>
          </div>
          <div class="checking-type" *ngIf="req.sender_status !== 'Approved'">
            <ion-icon name="close" [ngStyle]="{'color':'#f44336'}"></ion-icon>
          </div>
          <p>{{req?.Transaction_type?.name}}</p>
        </ion-col>

        <ion-col class="el-details-col">
          <ion-row class="req">
            <ion-col [ngClass]="{'hidden':req.Transaction_type.name === 'OTP Issuance'}">
              <p class="sender">Receiver</p>
            </ion-col>
            <ion-col>
              <p>{{ req?.receiver_name || '' }} {{ '(' + req?.reciever_identifier + ')' }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="amount">
            <ion-col class="L">
              <p class="sender">{{'Amount'|translate}}</p>
            </ion-col>
            <ion-col class="R">
              <p>{{req.amount}} {{'EGP'|translate}}</p>
            </ion-col>
          </ion-row>
          <p class="time">{{req.updatedAt | date:'dd-MM-yy, hh:mm a'}}</p>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="!select && senderOrReceiver(req,'reciever')">
        <ion-col col-3 class="checking">
          <div class="checking-type" *ngIf="req.receiver_status == 'Approved'">
            <ion-icon name="checkmark" [ngStyle]="{'color':'#00e676'}"></ion-icon>
          </div>
          <div class="checking-type" *ngIf="req.receiver_status !== 'Approved'">
            <ion-icon name="close" [ngStyle]="{'color':'#f44336'}"></ion-icon>
          </div>
          <p>{{req?.Transaction_type?.name}}</p>
        </ion-col>

        <ion-col class="el-details-col">
          <ion-row class="req">
            <ion-col>
              <p class="sender">{{'Sender'|translate}}</p>
            </ion-col>
            <ion-col>
              <p>{{ req?.sender_name || ''}} {{ '(' + req?.sender_identifier + ')' }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="amount">
            <ion-col class="L">
              <p class="sender">{{'Amount'|translate}}</p>
            </ion-col>
            <ion-col class="R">
              <p>{{ (req.amount + req?.tips) }} {{'EGP'|translate}}</p>
            </ion-col>
          </ion-row>
          <p class="time">{{req.updatedAt | date:'dd-MM-yy, hh:mm a'}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="requests.length >0">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

</ion-content>
</body>