<ion-content no-padding>
    <div class="failure-body">
        <ion-row class="sec-1">
            <!-- <img src="assets/failure.png"> -->
            <ion-col col-12 style="align-self: center;">
                <div class="clossed">
                    <img src="assets/egbank/req-filuer-img.png" alt="">
                </div>
            </ion-col>
        </ion-row>


        <h4>{{"Request Failed"|translate}}!</h4>


        <p>{{message}}</p>
        <ion-row class="sec-3">
            <ion-col>
                <button ion-button block (click)="done()">{{"Done"|translate}}</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>