<ion-header >
  <ion-grid no-padding class="bills-header">
    <ion-row>

      <ion-col col-1 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{service_name}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div class="pruchase-body">
    <ion-grid class="the-body" padding>
      <ion-row padding class="the-rows">
        <ion-col>
          <ion-item>
            <ion-icon name="phone-portrait" item-left></ion-icon>
            <ion-label stacked>{{'Recipient'|translate}}</ion-label>
            <ion-input type="number" maxlength="11" [(ngModel)]="recipient" placeholder="{{'Enter-the'|translate}} {{'Recipient'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div *ngIf="recipientMsg" class="notValid">{{recipientMsg|translate}}</div>

      <div *ngIf="serviceValueList">
        <ion-row padding class="the-rows">
          <ion-item>
            <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
            <ion-label stacked>{{'Amount'|translate}}</ion-label>
            <ion-select [(ngModel)]="amount" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}">
              <ion-option *ngFor="let item of serviceValueList">{{item}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      </div>


      <div *ngIf="amountMsg" class="notValid">{{amountMsg|translate}}</div>
      <ion-row>
        <ion-col class="btn-area">
          <button ion-button block class="submit-btn" (click)="billDetails()">{{'Next'|translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>