@import '../../theme/theme';
page-voucher {
  .bills-header {
    text-align: center;
    background-color: header-background();

    .l-icon {
      text-align: left;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      font-weight: 500;
      margin-top: 14px;
      font-family: 'Proxima-Semibold';
    }
  } // THE HEADER


  .pruchase-body {
    text-align: center;
    height: 100%;
      
    p {
      margin: 0 ;
      font-size: 16px;
      color: detail-text-color();
      font-weight: 600;
    }
    .notValid{
      color: red;
    }
    .the-rows{
      margin: 10px 0 0 0;
      padding: 0 ;
      border-bottom: 1px solid ion-input-color();
    }

    ion-icon {
      font-size: 25px;
      color: icon-color();
      margin-bottom: 0;
    }

    ion-item {
      padding: 0;
    }
    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 14px;
      padding: 0 5px;
    }
    ion-label {
      margin-bottom: 0;
      color: ion-label-color();
      font-weight: 700;
    }
    .col-1{
      margin: 15px 0 0 0;
    }


    button {
      border-radius: 0;
    }

    .submit-btn{
      background-color: btn-color-dark();
    }

    .submit-btn:active,.submit-btn:focus,.submit-btn:hover {
      background-color: btn-color-light();
    }
    
  }
}
