@import '../../theme/theme';
page-subservice {
  .scroll-content{
    background-image: unset !important
  }
  .sub-service-header {
    text-align: center;
    background-color: header-background();

    .l-icon {
      text-align: left;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      font-weight: 500;
      margin-top: 14px;
      font-family: 'Proxima-Semibold';
    }
  } // THE HEADER


  .sub-service-body {
    text-align: center;
    position: fixed;
    
    .oprator-felids {
      border: 2px solid header-background();
      padding: 0 5px;
      height: 100px;
      width: 100px;
//      box-shadow: 1px 2px 5px header-background();
      transition: .4s;
    }
    .oprator-felids:active{
      transition: 0.4s;
      transform: scale(0.9)
    }

  }//BODY
}
