<ion-header >
  <ion-grid no-padding class="qr-details-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'QrCode'|translate}} {{'Details'|translate}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content class="qr-details-body" padding>
  <div>
    <ion-grid padding class="the-container">

      <ion-row>
        <ion-col col-4 class="center" *ngIf="body.amount">
          <h4>{{'Amount'|translate}}</h4>
          <h3>{{body.amount + ' ' + ('EGP' | translate) }}</h3>
        </ion-col>
        <ion-col  *ngIf="body.merchantName">
          <h4  class="align-items: baseline">{{'merchant_name'|translate}}</h4>
          <p>{{body.merchantName}}</p>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col col-6 *ngFor="let field of addtionalDataKeys">
          <p>{{ additionalDataDisplayName[field] | translate}}</p>
          <h2>{{ additionalData[field] !== '***' ? additionalData[field] : 'required' }}</h2>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="body.reference1" class="rows">
        <p>{{'bill id'|translate}}</p>
        <h2>{{body.reference1}}</h2>
      </ion-row>

      <ion-row *ngIf="body.reference2" class="rows">
        <p>{{'reference'|translate}}</p>
        <h2>{{body.reference2}}</h2>
      </ion-row>

      <ion-row class="the-cr-line">
        <ion-col col-1 class="cr-1">
          <div></div>
        </ion-col>
        <ion-col class="line">
          <div></div>
        </ion-col>
        <ion-col col-1 class="cr-2">
          <div></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <canvas #canv></canvas>
      </ion-row>

      <ion-row>
        <div style="width: 100%;">
          <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
        </div>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>