@import "../../theme/theme";

page-qr-details {
    .qr-details-head {
        background-color: header-background();
        text-align: center;

        .r-icon {
            text-align: left;
        }
        .l-icon {
            text-align: right;
        }
        ion-icon {
            font-size: 25px;
            color: icon-color();
        }
        h2 {
            color: white;
            font-weight: 500;
            margin-top: 14px;
            font-family: 'Proxima-Semibold';
        }
    }//HEADER END


    .qr-details-body {
        margin-top: 1rem;
        text-align: center;
        
        .the-container {
            border-radius: 8px;
            background-color: #BDE4F4;

            p {
                font-size: 15px;
                color: #335a67;
                margin-bottom: 0;
            }

            h2 {
                font-size: 18px;
                color: #335a67;
                font-weight: 700;
                margin: 0;
            }

            ion-row {
                justify-content: center;
                margin: 10px 0 0 0;
            }

            .rows {
                text-align: left;
                display: flex;
                flex-direction: column;
            }

            .the-cr-line {
                .cr-1 {
                    div {
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        border-radius: 50%;
                        margin-left: -33px;
                    }
                }
                .line {
                    div {
                        border: 1px dashed #335a67;
                        margin-top: 10px;
                    }
                }
                .cr-2 {
                    div {
                        margin-left: 27px;
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        border-radius: 50%;
                    }
                }
            }

            
            

            canvas {
                height: 150px !important;
                width: 150px !important;
            }
        }
    }
}
