
<ion-content  class = "master">

<div class="container">

<ion-card class ="c">
<div class="header">
  {{"Register-page.1"|translate}}
</div>

<ion-card-content class="content">
 {{"Register-page.2"|translate}}
  <div class="icon">
     <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
   </div>
  {{"Register-page.3"|translate}}
  <div class="icon">
     <ion-icon ios="ios-call" md="md-call"></ion-icon>
   </div>
</ion-card-content>
</ion-card>



</div>

<button ion-button block color="danger" (click)="dismiss()">{{"Register-page.4"|translate}}</button>

</ion-content>
