<ion-header>
    <ion-grid class="trans-details-header" no-padding>
        <ion-row>
            <ion-col col-1 class="r-icon" >
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{'Transactions History'|translate}}</h2>
            </ion-col>
            <ion-col col-2 class="l-icon" no-padding>
                <button ion-button clear icon-only (click)="home()">
                    <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
                    <img class="home-icon" src="assets/its/home-icon.png" >
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content no-padding>
    <div ion-fixed class="trans-details-body">
        <ion-grid>
            <ion-card>
                <ion-row>
                    <ion-col class="right-side">
                        <h6>{{'From'|translate}}</h6>
                        <p>{{ '(' + request.sender_identifier+ ')'}} {{request.sender_name?(request.sender_name):''}}</p>
                    </ion-col>
                    <ion-col class="left-side">
                        <h6>{{'To'|translate}}</h6>
                        <p>
                          {{ '(' + request.receiver_identifier + ')' }}
                        </p>
                        <p *ngIf="request.reciever_identifier">{{request.receiver_name || request.reciever_name || '' }}

                        <p *ngIf="!request?.reciever_identifier && !request?.receiver_name"></p>
                    </ion-col>
                </ion-row>
                <div></div>
                <ion-row>
                    <ion-col class="right-side">
                        <h6>{{'Amount'|translate}}</h6>
                        <p>{{ (+request.amount) + (request?.tips ? request?.tips : 0 ) }} {{'EGP'|translate}}
                        </p>
                    </ion-col>
                    <ion-col class="left-side">
                        <h6>{{'Fees'|translate}}</h6>
                        <p *ngIf=" request.sender_fees && is_sender ">{{request.sender_fees}} {{'EGP'|translate}}</p>
                        <p *ngIf=" request.reciever_fees && is_receiver ">{{request.reciever_fees}} {{'EGP'|translate}}</p>
                        <p *ngIf="!request.reciever_fees && is_receiver || !request.sender_fees && is_sender">0 {{'EGP'|translate}}</p>
                    </ion-col>
                </ion-row>
                <div></div>
                <ion-row>
                    <ion-col class="right-side" *ngIf=" (request.sender_commission || request.sender_commission==0) && is_sender ">
                        <h6>{{'Commissions'|translate}}</h6>
                        <p>{{request.sender_commission}} {{ 'EGP' | translate }}</p>
                    </ion-col>
                    <ion-col class="right-side" *ngIf=" (request.receiver_commission || request.receiver_commission==0) && is_receiver ">
                        <h6>{{'Commissions'|translate}}</h6>
                        <p>{{request.receiver_commission}} {{ 'EGP' | translate }}</p>
                    </ion-col>
                    <ion-col class="left-side">
                        <h6>{{'Trx number'|translate}}</h6>
                        <p>{{request.transaction_reference_num}}</p>
                    </ion-col>
                </ion-row>
                <div></div>
                <ion-row>
                    <ion-col class="right-side">
                        <h6>{{'Type'|translate}}</h6>
                        <p>{{request?.Transaction_type?.name}}</p>
                    </ion-col>
                    <ion-col class="left-side">
                        <h6>{{'Status'|translate}}</h6>
                        <p>{{request.status}}</p>
                    </ion-col>
                </ion-row>
                <div></div>
                <ion-row>
                    <ion-col>
                        <h6>{{'Tip'|translate}}</h6>
                        <p *ngIf="request?.tips">{{request?.tips}} {{'EGP'|translate}}</p>
                        <p *ngIf="!request?.tips">0 {{'EGP'|translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row class="the-date">
                    <ion-col>
                        <p>{{request.updatedAt | date:'dd-MM-yy, hh:mm a'}}</p>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-grid>
    </div>
</ion-content>
