@import '../../theme/theme';
page-transaction-details {
    ion-header {
        text-align: center;

        .trans-details-header{
            background-color: header-background();
            .r-icon {
                text-align: left;
            }
            .l-icon {
                text-align: right;
            }
            ion-icon {
                font-size: 25px;
                color: icon-color();
            }
            h2 {
                color: white;
                font-weight: 500;
                margin-top: 14px;
                font-family: 'Proxima-Semibold';
            }
        }
    }//THE HEADER   


    .trans-details-body {
        margin: 0 auto;

        ion-card {
            background-color: #9fa8a3;
            border-radius: 8px;
            box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.6);
            padding: 10px 30px;
            

            h6 {
                color: white;
                font-size: 18px;
                font-weight: bold;
            }
            p {
                color: white;
            }


            div {
                border: 1px solid white;
                margin: 5px -10px;
            }

            .the-date {
                text-align: center;
            }

        }
    } //THE BODY
}
