.view-card-head {
    text-align: center;
    background-color: header-background();

    .r-icon {
        text-align: left;
    }
    ion-icon {
        font-size: 25px;
        color: icon-color();
    }
    h2 {
            color: header-text-color();
            font-family: font-head();
    }
}
.scroll-content{
    background-image: unset !important
  }
.alert-ios .alert-message, .alert-ios .alert-input-group {
  text-align: center;
  font-size: 15px ;
  color: inherit;
}
#card{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: notifiction-list-background();
    text-align: center;
    margin-bottom: 10px;
   }

   .view-card-body {
       font-family: font-light();
      .submit-btn{
        // background-color: btn-color-dark();
        border-radius: 0px !important;
        border: 2px solid #003B71;
        color:white;
      }
      .card-buttons{
        height: 60% !important;
        min-height: 90% !important;
      }
     .sky{
      background-color: card-balance();
     }
     .orange{
       background-color: card-delete();
     }
     .bule{
      background-color: card-credit();
    }
    .green{
      background-color: card-debit();
    }
    text-align: center;
    height: 100%;

    ion-row {
        border-bottom: 1px solid input-border-color();
    }
    ion-icon {
        font-size: 25px;
        color: icon-color();
        margin-bottom: 0;
    }
    ion-item {
        padding: 0;
    }
    ion-input {
        margin: 0;
        color: ion-input-color();
        font-size: 14px;
    }
    ion-label {
        margin-bottom: 0;
        color: ion-label-color();
        font-weight: 700;
    }

  ion-item-options {
    //   background-color: white;
      button {
          width: 70px;
      }
      ion-icon {
          color: white;
          font-size: 20px !important;
      }
  }

  ion-item-sliding {
      ion-icon {
          font-size: 20px;
          font-weight: 800;
      }
  }

  .list-ios ion-item-sliding {
    background-color: transparent !important;
}

 }

 .list-ios ion-item-options {
    border-bottom: unset !important;
}
