<ion-header >
  <ion-grid no-padding class="view-card-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'View Cards'|translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <div class="view-card-body">
    <button ion-button outline class="submit-btn" block (click)="addCard()">{{'Add Card'|translate}}</button>

    <br>

    <h4 *ngIf="cards && cards.length ==0" style="text-align:center">No Cards</h4>

    <ion-list>
      <ion-item-sliding *ngFor="let card of cards ;let i = index">
        <ion-item id="card">
          <ion-icon name="arrow-dropleft" item-right ></ion-icon>
          <div>
            <strong>Masked Card</strong>
          </div>
          <h4 style="padding:10px">{{card.maskedCard}} </h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button class="orange card-buttons" (click)="delete(card.id,i)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button class="sky card-buttons" (click)="getBalance(card)">
            <ion-icon>Balance</ion-icon>
          </button>
          <button ion-button class="bule card-buttons" (click)="credit(card)">
            <ion-icon>Credit</ion-icon>
          </button>
          <button ion-button class="green card-buttons" (click)="debit(card)">
            <ion-icon>Debit</ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
