<ion-header >
  <ion-grid no-padding class="category-header">
    <ion-row>
      <ion-col col-1 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{category_name}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div ion-fixed class="category-body">
    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let category of categories">
          <div class=" oprator-felids" (click)="goToCategory(category)">
            
            <img class="cat-img" [src]="global?.baseUrl+category.img_url" alt="{{category.name}}">
          </div>
          <div (click)="goToCategory(category)">
            <p>{{category.name}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>