<ion-header >
  <ion-grid no-padding class="cash-the-header">
    <h2>{{cash?.title}}</h2>
  </ion-grid>
</ion-header>

<ion-content>
  

  <ion-grid class="cash-the-body">
    <p>{{description}}</p>
        
    <ion-row padding>
        <ion-item>
          <ion-label stacked>{{"confirm-mpin"|translate}}</ion-label>
          <ion-input type="number"  name="mPin" [(ngModel)]="mPin" style="-webkit-text-security:disc;"></ion-input>
          <ion-icon name="lock" item-left></ion-icon>
        </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <button [disabled]='disableAcceptBtn' ion-button block (click)="validate()">{{"Confirm"|translate}}</button>
      </ion-col>
      <ion-col>  
        <button [disabled]='disableRejectBtn' ion-button block (click)="cancelTransaction()">{{"Reject"|translate}}</button>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>

