@import '../../theme/theme';

page-cash {
  .cash-the-header {
    text-align: center;
    background-color: header-background();
 
      h2 {
        color: text-color();
        font-weight: 500;
        margin: 12px 0 0 0;
      }
    
  }//THE HEADER

.scroll-content{
  background-image: unset !important
}
  .cash-the-body {
    text-align: center;
    position: fixed;

    p {
      margin: 50px 0 0 0;
      font-size: 16px;
      color: detail-text-color();
      font-weight: 600;
    }

    ion-icon {
      font-size: 35px;
      color: icon-color();
    }

    ion-item {
      border-bottom: 1px solid #335a67;
    }
    ion-input {
      margin: 0;
      color: ion-input-color();
    }
    ion-label {
      color: ion-label-color();
    }

    button {
      font-size: 18px;
      border-radius: 0;
      background-color: btn-color-dark();
   }

   .rej-btn {
     background-color: white;
     border: 1px solid btn-color-dark();
     color: #0F385A;
   }
   .rej-btn:active {
     background-color: btn-color-light();
     border: 1px solid white;
     color: white;
   }

  } //THE BODY
}
