


<ion-content class="signupBody" >

  <div >
    <div class="content-bg">
        <form #Form = "ngForm">
    <ul class="progressbar">
      <li ></li>
      <hr class="hr-code">
      <li class="active"></li>
      <hr class="hr-code">
      <li></li>
      <!-- <img src="assets/eg-logo.png" class="img2"> -->
    </ul>
  
  




  <div class="secondContainer">
    <ion-label class="desc" text-wrap>
      {{'Verification-page.1'|translate}}
    </ion-label>

    <div class="textArea">
    </div>

    <ion-row class="inputRow">
      <ion-col col-10>
          <ion-item>
              <ion-label floating>{{'Verification Code'|translate}}</ion-label>
              <ion-input type="number" name="number" #number="ngModel" [(ngModel)]="code" (ngModelChange)="detectChange($event)" placeholder=""></ion-input>
              <ion-icon class="lock-icon"name="lock" item-left></ion-icon>
            </ion-item>
      </ion-col>
    </ion-row>


    <div class="secondBtn"  align="center">
      <button ion-button color="" block (click)="validate()">{{'Verification-page.2'|translate}}</button>
    </div>

    <!-- <ion-label class="desc" text-wrap>
      {{'Verification-page.3'|translate}}

    </ion-label> -->

    <div class="secondBtn">
      <button ion-button block (click)="resend()">{{'Verification-page.4'|translate}}</button>
    </div>
  </div>
</form>
</div>

</div>
</ion-content>