@import '../../theme/theme';
page-verification {
  font-family: 'Proxima-Regular';
  .Verification_header {
    background-color: header-background();
    
    ion-row {
    align-items: center;
    justify-content: center;

      h2 {
        text-align: center;
        color: white;
        margin-top: 14px;
        font-family: 'Proxima-Semibold';
        margin-right: 35px;

        span {
          font-family: 'Proxima-Regular';
        }
      }
    }
  }


  .secondContainer {
    ion-row {
      margin: 35px 0;
    }

    ion-item {
      padding: 0;
    }
  
    ion-label {
      margin-bottom: 0 !important;
      color: ion-label-color();
      font-size: 15px !important;
      font-weight: 600;
    }
  
    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 15px;
      padding: 0 5px;
      border-bottom : 1px solid input-border-color();
    }
    
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }

    button{
      background-color: btn-color-dark();
    }
    
    button:active,button:hover,button:focus{
      background-color: btn-color-light();
    }
  } 


  .btn
  {
    text-align: center;
  }
  // .label
  // {
  //   text-align: center;
  //   font-size: 125%;
  //   color: grey;
  //   margin: 5%;
  // }


  .desc
  {
    color: grey;
    font-size: 130%;
    text-align: center;
    margin-top: 10%;
  }

  .m3
  {
    background-color: #007c93;
  }

// .textArea
// {
//   margin-left: 5%;
//   margin-right: 5%;
//   padding: 5%;
//   color: black;
//   font-size: 150%;
//   text-align: center;

// }

// .in{
//   border-bottom: 1px solid grey;
// }


.secondBtn
{
  background-color: get-map($colors,danger);
  text-align: center;
  button {
    background-color: header-background();
  }
  button:active {
    background-color: btn-color-light();
  }
}
.img
  {
    height: 15%;
    width: 12%;
}
.img2
  {
    height: 15%;
    width: 55px;
    margin-top: 8px;
    margin-left: 20px;
} 
  
  .container
  {
      margin-left: 7%;

    width:100%;
  }

  .progressbar{
    padding-left: 5%;
  counter-reset: step;
  }

  .progressbar li{
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;

  }

  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    height: 45px;
    width: 45px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    border-radius: 50%;
    line-height: 45px;
    font-size: 125%;
    background-color: white;
  }

  .progressbar li:after
  {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ddd;
  top: 22.5px;
  left: -70%;
  z-index: -1;
  }

  .progressbar li:first-child:after
  {
    content: none;
  }
  //

  .progressbar li.last:before
  {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 22.5px;
    left: -70%;
    z-index: -1;
  }

  .progressbar li.active {
    color: progress-bar-color();

  }

  .progressbar li.active:before {
    border-color: progress-bar-color();
  }

  .progressbar li.active + li:after {
    background-color: progress-bar-color();
  }



}
