<ion-header class="Verification_header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
        <h2>
          <span>ITS&nbsp;</span>Wallet</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content padding>

  <div class="container">

    <!-- <ul class="progressbar">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li class="last"></li>
      <img src="assets/orange/orange-logo.png" class="img2">
    </ul> -->

  </div>




  <div class="secondContainer">
    <ion-label class="desc" text-wrap>
      {{'Verification-page.1'|translate}}
    </ion-label>

    <div class="textArea">
    </div>

    <ion-row>
      <ion-item>
        <ion-label floating>{{'Verification Code'|translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="code" (ngModelChange)="detectChange($event)" placeholder=""></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
      </ion-item>
    </ion-row>


    <div align="center">
      <button ion-button block type="submit" (click)="validate()">{{'Verification-page.2'|translate}}</button>
    </div>

    <ion-label class="desc" text-wrap>
      {{'Verification-page.3'|translate}}

    </ion-label>

    <div class="secondBtn">
      <button ion-button block type="submit"  (click)="resend()">{{'Verification-page.4'|translate}}</button>
    </div>
  </div>

</ion-content>