
.scroll-content{
    background-image: unset !important
  }
  .stepOneHeader{
    text-align: center;
    border: border();
    // margin: 1%;
    margin-top: 2%;
    color:textColor();
  }
.step2-body {
    text-align: center;
    height: 100%;
    font-family: font-text();
    .submit-btn{
      background-color: btn-color-dark();
    }
    ion-list{
        border: border();
    }
    button{
        border: border();
        border-radius: 0px !important;
        color: textColor(); 
    }
 .r-col{
    background: white;
    color: textColor();
    text-align: center;
    padding: 2%;
 }
element.style {
}
b, strong {
    font-weight: bold;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
user agent stylesheet
strong, b {
    font-weight: bold;
}
.item-ios p {
    color: white;
}
    ion-row {
        border-bottom: 1px solid input-border-color();
    }
    ion-icon {
        font-size: 25px;
        color: icon-color();
        margin-bottom: 0;
    }
    ion-item {
        padding: 0;
        margin-bottom: 2% !important;
    }
    .list-ios > .item-block:first-child {
        border-top: unset
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: unset
    }
    ion-input {
        margin: 0;
        color: ion-input-color();
        font-size: 14px;
        padding: 0 5px;
    }
    ion-label {
        margin-bottom: 0;
        color: ion-label-color();
        font-weight: 700;
    }

}
