 <ion-header class="stepOneHeader" >
    <ion-grid no-padding class="step2-header">
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{title|translate}}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

      

<ion-content padding>
    <div class="step2-body">
            <ion-list>
                <ion-item>
                    <ion-label class="r-col" item-start>
                        <!-- <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon> -->
                        {{'Amount'|translate}}
                    </ion-label>

                    <p item-end>
                        <b>{{amount}} {{'EGP'|translate}}</b>
                    </p>
                </ion-item>
                <ion-item>
                    <ion-label class="r-col" item-start>
                        <!-- <ion-icon name="logo-usd" item-left></ion-icon> -->
                        {{'Fees'|translate}}
                    </ion-label>

                    <p item-end>
                        <b>{{fees}} {{'EGP'|translate}}</b>
                    </p>
                </ion-item>
            </ion-list>

        <ion-row>
            <ion-item>
                <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
                <ion-label stacked>{{'Mpin'|translate}}</ion-label>
                <ion-input [(ngModel)]="mpin" name="mpin" (ngModelChange)="detectMpinChange($event)" type="password" placeholder="{{'Enter-the'|translate}} {{'Mpin'|translate}}"></ion-input>
            </ion-item>
        </ion-row>

        <div padding *ngIf="mpin  && mpin.length===6 ">
            <button ion-button block class="submit-btn" (click)="stepTwo()">{{'Next'|translate}}</button>
        </div>

    </div>
</ion-content>
