<ion-header>
  <ion-grid class="r2p-el-header" no-padding>
    <h2>{{title}}</h2>
  </ion-grid>
</ion-header>


<ion-content no-padding>
  <div class="r2p-el-boy">
    <p>{{description}}</p>

    <ion-grid>
      <ion-row padding>
          <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            <ion-label floating>{{'Wallet ID'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="walletId"
            (ngModelChange)="detectNumberChange($event)" disabled></ion-input>
          </ion-item>
      </ion-row>
        
      <ion-row padding>
          <ion-item>
            <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
            <ion-label floating>{{'Amount'|translate}}</ion-label>
            <ion-input type="number"  [(ngModel)]="amount" 
            (ngModelChange)="detectAmountChange($event)" [disabled]='disableAmount' ></ion-input>
          </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.tip'>
          <ion-item>
            <ion-label stacked>{{'Tips'|translate}}</ion-label>
            <ion-input type="number"  [(ngModel)]="additionalData.tips" 
            (ngModelChange)="detectTipsChange($event)"></ion-input>
          </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.convenience'>
          <ion-item>
            <ion-label stacked>{{'Convenience'|translate}}</ion-label>
            <ion-input type="number"  [(ngModel)]="additionalData.convenience" disabled>
            </ion-input>
          </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.billNumber'>
          <ion-item>
            <ion-label stacked>{{'bill id'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="additionalData.billNumber" disabled></ion-input>
          </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.referenceLabel'>
          <ion-item>
            <ion-label stacked>{{'reference'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="additionalData.referenceLabel" disabled></ion-input>
          </ion-item>
      </ion-row>
        
      <ion-row no-padding>
        <ion-col no-padding> 
          <button ion-button class="submit-btn" block (click)="validate()">{{'transfer'|translate}}</button>
        </ion-col>
        <ion-col no-padding>
          <button ion-button class="cancel-btn" outline block (click)="cancel()">{{'Cancel'|translate}}</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <div style="width: 100%;">
          <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
