@import "../../theme/theme";
page-r2p {
  ion-header {
    text-align: center;
    background-color: header-background();
 
      h2 {
        margin-top: 12px;
        color: header-text-color();
        font-weight: 500;
      }
    
  }//THE HEADER


  .r2p-el-boy {
    padding: 10px;
    text-align: center;

    p {
      margin: 0;
      font-size: 18px;
      color: #335a67;
      font-weight: 600;
    }

    ion-icon {
      margin-bottom: 0;
      font-size: 30px;
      color: icon-color();
    }

    ion-item {
      padding: 0;
      border-bottom: 1px solid input-border-color();
    }
    ion-input {
      margin: 0;
      color: ion-input-color();
    }
    ion-label {
      font-weight: 700;
      color: ion-label-color();
    }
  } //THE BODY

  .submit-btn{
    background-color: btn-color-dark();
  }

  .submit-btn:active,.submit-btn:hover{
    background-color: btn-color-light();
  }

  .cancel-btn{
    border-color: btn-border-color();
  }
  
}
