<ion-header>
  <ion-grid class="r2p-el-header" no-padding>
    <h2>{{title}}</h2>
  </ion-grid>
</ion-header>


<ion-content no-padding>
  <div class="r2p-el-boy">
    <p>{{description}}</p>

    <ion-grid>
      <ion-row padding>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-label floating>{{'Wallet ID'|translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="walletId" (ngModelChange)="detectNumberChange($event)" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding>
        <ion-item>
          <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
          <ion-label floating>{{'Amount'|translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="amount" (ngModelChange)="detectAmountChange($event)" [disabled]='disableAmount'></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.tip'>
        <ion-item>
          <ion-label stacked>{{'Tips'|translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="additionalData.tips" (ngModelChange)="detectTipsChange($event)"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.convenience'>
        <ion-item>
          <ion-label stacked>{{'Convenience'|translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="additionalData.convenience" disabled>
          </ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.billNumber'>
        <ion-item>
          <ion-label stacked>{{'bill id'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.billNumber" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.referenceLabel'>
        <ion-item>
          <ion-label stacked>{{'reference'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.referenceLabel" disabled></ion-input>
        </ion-item>
      </ion-row>

      
      <ion-row padding class="the-rows" *ngIf='additionalData.mobileNumber'>
        <ion-item>
          <ion-label stacked>{{'mobile Number'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.mobileNumber" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.customerLabel'>
        <ion-item>
          <ion-label stacked>{{'customer Label'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.customerLabel" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.storeLabel'>
        <ion-item>
          <ion-label stacked>{{'store Label'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.storeLabel" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.terminalLabel'>
        <ion-item>
          <ion-label stacked>{{'terminal Label'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.terminalLabel" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.loyaltyNumber'>
        <ion-item>
          <ion-label stacked>{{'loyalty Number'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.loyaltyNumber" disabled></ion-input>
        </ion-item>
      </ion-row>

      <ion-row padding class="the-rows" *ngIf='additionalData.purposeOfTransaction'>
        <ion-item>
          <ion-label stacked>{{'reason'|translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="additionalData.purposeOfTransaction" disabled></ion-input>
        </ion-item>
      </ion-row>



      <ion-row no-padding>
        <ion-col >
          <button ion-button block (click)="validate()">{{'transfer'|translate}}</button>
        </ion-col>
        <ion-col >
          <button ion-button outline block class="secBtn" (click)="cancel()">{{'Cancel'|translate}}</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <div style="width: 100%;">
          <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>