@import '../../theme/theme';
page-favourites {
    .scroll-content{
  background-image: unset !important
}
    .fav-header {
        text-align: center;
        background-color: header-background();
  
        .r-icon {
          text-align: left;
        }
        ion-icon {
          font-size: 25px;
          color: icon-color();
        }
        h2 {
          color: white;
          margin-top: 14px;
          font-family: 'Proxima-Semibold';
        }
    } //HEADER

    .fav-body {
        text-align: center;

        .the-body {
            padding: 0;

            ion-icon {
                color: white;
                font-size: 20px;
            }

            ion-item-options {
                background-color: white;

                button {
                    background-color: crimson;
                    width: 70px;
                }
                ion-icon {
                    color: white;
                    font-size: 35px;
                }

                .edit-btn{
                    background-color: grey;
                }
            }

            ion-item-sliding {
                
                margin: 10px;

                ion-icon {
                    font-size: 30px;
                }
            }

            ion-item {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                background-color: notifiction-list-background();
                text-align: center;

                h5 {
                    font-size: 20px;
                    color: notification-text-color();
                    font-weight: 600;
                }

                h6 {
                    color: notification-text-color();
                    font-size: 18px;
                }
                p {
                    color: notification-text-color();
                    font-size: 15px;
                }
                
                
            }
        }
    }
}
