<ion-header >
  <ion-grid no-padding class="fav-header">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'Favourites'|translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="fav-body">

    <ion-grid class="the-body">
      <div *ngIf="showNoData">
        <h1>{{'No Data'|translate}}</h1>
      </div>


      <ion-list>
        <ion-item-sliding *ngFor="let favourite of favourites;let i = index">
          <ion-item (click)="navigate(favourite)">
            <h5>
              {{favourite.title}}
            </h5>

            <ion-icon name="arrow-dropleft" item-right></ion-icon>
            <ion-row>
              <ion-col>
                <h6 *ngIf='favourite.receiver'>{{'To'|translate}}</h6>
              </ion-col>
              <ion-col>
                <p>{{ favourite.receiver }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h6 *ngIf='favourite.amount'>{{'Amount'|translate}}</h6>
              </ion-col>
              <ion-col>
                <p>{{ favourite.amount }}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button (click)="delete(favourite.id,i)" class="trash">
              <ion-icon name="trash"></ion-icon>
            </button>

            <button class="edit-btn" ion-button (click)="editName(favourite,i)">
              <ion-icon ios="md-create" md="md-create"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

    </ion-grid>
  </div>
</ion-content>