<ion-header class="createUrPin_header">
  <ion-grid>
    <ion-row>
      <ion-col col-12><h2><span>ITS&nbsp;</span>Wallet</h2></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>


  <div class="container">

    <ul class="progressbar">
      <li class="active"></li>
      <li class="active"></li>
      <li></li>
      <li class="last"></li>
      <img src="assets/its/logo-splash.png" class="img2">

    </ul>


  </div>


  <div class="div">


    <ion-label class="desc" text-wrap>
      {{'c-y-p-title'|translate}}
    </ion-label>

    <!-- <div class="textArea">

    </div> -->

    <ion-row>
      <ion-item>
        <ion-label floating>{{'mPIN'|translate}}</ion-label>
        <ion-input type="number" style="-webkit-text-security:disc;" [(ngModel)]="pin" (ngModelChange)="detectPinChange($event)"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>{{'c-y-p'|translate}}</ion-label>
        <ion-input type="number" style="-webkit-text-security:disc;" [(ngModel)]="pin_confirm" (ngModelChange)="detectPin2Change($event)"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
      </ion-item>
    </ion-row>


  </div>

  <div class="divButton">
    <button ion-button class="btn" block type="submit" (click)="getFirebaseToken()">{{'Create your mPIN'|translate}}</button>
  </div>

</ion-content>