

<ion-content class="createPinBody"  >


  <div >
    <div class="content-bg">
        <form #Form = "ngForm">
    <ul class="progressbar">
      <li ></li>
      <hr class="hr-code">
      <li ></li>
      <hr class="hr-code">
      <li class="active"></li>
      <!-- <img src="assets/eg-logo.png" class="img2"> -->

    </ul>


  <div class="div">


    <ion-label class="desc" text-wrap>
      {{'c-y-p-title'|translate}}
    </ion-label>

    <!-- <div class="textArea">

    </div> -->

    <ion-row>
      <ion-item>
        <ion-label floating>{{'mPIN'|translate}}</ion-label>
        <ion-input type="number" name="number" #number="ngModel" style="-webkit-text-security:disc;" [(ngModel)]="pin" (ngModelChange)="detectPinChange($event)"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>{{'c-y-p'|translate}}</ion-label>
        <ion-input type="number" name="number" #number="ngModel" style="-webkit-text-security:disc;" [(ngModel)]="pin_confirm" (ngModelChange)="detectPin2Change($event)"></ion-input>
        <ion-icon name="lock" item-left></ion-icon>
      </ion-item>
    </ion-row>


  </div>

  <div class="divButton">
    <button ion-button color="secondary" class="btn" block (click)="getFirebaseToken()">{{'Create your mPIN'|translate}}</button>
  </div>
</form>
</div>

</div>

</ion-content>