@import '../../theme/theme';
page-create-your-pin {
  font-family: 'Proxima-Regular';

  .createUrPin_header {
    background-color: header-background();
    
    ion-row {
    align-items: center;
    justify-content: center;

      h2 {
        text-align: center;
        color: white;
        margin-top: 14px;
        font-family: 'Proxima-Semibold';
        margin-right: 35px;

        span {
          font-family: 'Proxima-Regular';
        }
      }
    }
  }

 .img
  {
    height: 15%;
    width: 12%;
  }
.img2
  {
    height: 15%;
    width: 55px;
    margin-top: 8px;
    margin-left: 20px;
  } 

  .container
  {
    margin-left: 7%;
    width:100%;
    margin-top: 15%;
  }

  .progressbar{
  counter-reset: step;
  padding-left: 5%;
  }

  .progressbar li{
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;

  }

  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    height: 45px;
    width: 45px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    border-radius: 50%;
    line-height: 45px;
    font-size: 125%;
    background-color: white;
  }

  .progressbar li:after
  {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ddd;
  top: 22.5px;
  left: -70%;
  z-index: -1;
  }

  .progressbar li:first-child:after
  {
    content: none;
  }
  //

  .progressbar li.last:before
  {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 22.5px;
    left: -70%;
    z-index: -1;
  }

  .progressbar li.active {
    color: progress-bar-color();

  }

  .progressbar li.active:before {
    border-color: progress-bar-color();
  }

  .progressbar li.active + li:after {
    background-color: progress-bar-color();
  }


  .pinNo{

    height: 50px;
    width: 20px;
    text-align: center;
    // font-size: 2em;
    border-bottom: 1px solid grey;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    // font-stretch: expanded;
    margin: 5%;
    padding-left: 5%;
    color: red;

}



.pin
{

  text-align: center;
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 10%;
}


.div
{
  align-content: center;
  // margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;

  ion-row {
    margin: 15px 0;
  }

  ion-item {
    padding: 0;
  }

  ion-label {
    margin-bottom: 0 !important;
    color: ion-label-color();
    font-size: 15px !important;
    font-weight: 600;
  }

  ion-input {
    margin: 0;
    color: ion-input-color();
    font-size: 15px;
    padding: 0 5px;
    border-bottom : 1px solid input-border-color();
  }
  
  ion-icon {
    font-size: 25px;
    color: icon-color();
  }

}

.m {
    background-color: rgba(0,0,0,0.8);
    border-radius: 2%;
    padding: 5%;
}

.m2
{
  background-color: rgba(0,0,0,0);

  font-size: 100%;
  color: #FFFAFA;
  font-family:sans-serif;

  border-bottom: 1px solid white;
}





.divButton
{
  margin: 5%;
  text-align: center;

  button{
    background-color: btn-color-dark();
  }
  button:active,button:hover,button:focus{
    background-color: btn-color-light();
  }
}

.desc
{
  color: grey;
  font-size: 130%;
  text-align: center;
  margin-top: 10%;
}


// .textArea
// {
//   margin-left: 5%;
//   margin-right: 5%;
//   padding: 5%;
//   color: black;
//   font-size: 150%;
//   text-align: center;

// }


.text-input::-moz-placeholder {
  color: #aaa;
  font-family:sans-serif;
}

.text-input:-ms-input-placeholder {
  color: #aaa;
  font-family:sans-serif;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #aaa;
  font-family:sans-serif;
}

.in{
  border-bottom: 1px solid grey;
  color: #aaa;
}
}
