<ion-header >
	<ion-grid no-padding class="online-card-head">
		<ion-row>
			<ion-col col-1 class="r-icon" no-padding>
				<button ion-button clear icon-only (click)="back()">
					<ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<h2>{{'Online Cards'|translate}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>


<ion-content padding>
	<div [ngSwitch]="step" class="online-card-body">
		<form action="">
			<div *ngSwitchCase="1">
				<ion-row class="the-rows">
					<ion-col>
					<ion-item>
						<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
						<ion-label stacked>{{'Amount'|translate}}</ion-label>
						<ion-input [(ngModel)]="amount" name="amount" (ngModelChange)="detectAmountChange($event)" type="number" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
					</ion-item>
					</ion-col>
				</ion-row>

				<div padding *ngIf="amount && amount!=='0' ">
					<button ion-button color="primary" block (click)="toStep2()">{{'Next'|translate}}</button>
				</div>

				<button id="CardHistory" ion-button color="primary" block (click)="Mpin()">{{'Card history'|translate}}</button>
				
			</div>

			<div *ngSwitchCase="2">
				<ion-list>
					<ion-row class="the-rows">
						<ion-col>
					<ion-item>
						<ion-label item-start>
							<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>{{'Amount'|translate}}
						</ion-label>

						<p item-end>
							<b>{{amount}} {{'EGP'|translate}}</b>
						</p>
					</ion-item>
				</ion-col>
				</ion-row>
				<ion-row class="the-rows">
					<ion-col>
					<ion-item>
						<ion-label item-start>
							<ion-icon name="logo-usd" item-left></ion-icon>{{'Fees'|translate}}
						</ion-label>

						<p item-end>
							<b>{{fees}} {{'EGP'|translate}}</b>
						</p>
					</ion-item>
				</ion-col>
				</ion-row>
				</ion-list>

				<ion-row>
					<ion-col>
					<ion-item>
						<ion-label stacked>{{'mPIN'|translate}}</ion-label>
						<ion-input style="-webkit-text-security:disc;" [(ngModel)]="mpin" name="mpin" (ngModelChange)="detectPinChange($event)" type="number"
						 placeholder="{{'Enter-the'|translate}} {{'mPIN'|translate}}"></ion-input>
					</ion-item>
				</ion-col>
				</ion-row>


				<ion-row padding style="border:none;">
					<ion-col col-12 *ngIf="!mpin">
								<button block ion-button color="primary" (click)="toStep1()">{{'Back'|translate}}</button>
							</ion-col>
					<ion-col col-6 *ngIf="mpin && mpin.length===6">
						<button block ion-button color="primary" (click)="toStep1()">{{'Back'|translate}}</button>
					</ion-col>
					<ion-col col-6 *ngIf="mpin && mpin.length===6">
						<button block ion-button outline color="primary" (click)="toStep3()">{{'Next'|translate}}</button>
					</ion-col>
				</ion-row>

			</div>

			<div *ngSwitchCase="3">
				<ion-card class="display-card">
					<ion-row>
						<ion-item style="background-color: #335a67; text-align: center;">
							<h6 style="color: white; font-size: 20px">{{'Virtual Credit Card'|translate}}</h6>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>Number: {{card.number}}</h2>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>cvv: {{card.cvv}}</h2>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>exp: {{card.exp}}</h2>
						</ion-item>
					</ion-row>
				</ion-card>
			</div>
		</form>


	</div>

</ion-content>