@import "../../theme/theme";
page-online-cards {
        .scroll-content{
        background-image: unset !important
      }
    #CardHistory {
        top: 220px;
    }
    .online-card-head {
        text-align: center;
        background-color: header-background();
        .r-icon {
            text-align: left;
        }
        ion-icon {
            font-size: 25px;
            color: icon-color();
        }
        h2 {
            color: header-text-color();
            margin-top: 14px;
        }
    }
    .online-card-body {
        text-align: center;
        height: 100%; // ion-row {
        // 	border-bottom: 1px solid input-border-color();
        // }
        ion-icon {
            font-size: 25px;
            color: icon-color();
            margin-bottom: 0;
        }
        ion-item {
            padding: 0;
        }
        ion-input {
            margin: 0;
            color: ion-input-color();
            font-size: 14px;
            padding: 0 5px;
        }
        ion-label {
            margin-bottom: 0;
            color: ion-label-color();
            font-weight: 700;
        }
        button {
            background-color: btn-color-dark();
            color: white;
        }
        button:active,
        button:hover {
            background-color: btn-color-light();
        }
        .inputarea {
            padding: 0 40px;
            ion-input {
                border: 2px solid #9fa8a3;
                border-radius: 5px;
                font-weight: 700;
            }
        }
        .display-card {
            display: table-row;
            background-color: darkgray;
        }
        .table-header {
            text-align: center;
            background-color: header-background();
        }
    }
    .confirmation-body {
        text-align: center;
        color: black;
        margin-top: 2rem;
        .body-section {
            .el-container {
                border: 2px solid #9fa8a3;
                border-radius: 8px;
                .bill-area {
                    border: 2px solid #9fa8a3;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    padding: 7px 0;
                }
                p {
                    font-size: 15px;
                    color: #335a67;
                    margin: 0;
                }
                .r {
                    text-align: left;
                }
                .l {
                    text-align: right;
                }
                .c1 {
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    border-radius: 50%;
                    margin: -11px 0 0 -28px;
                    border-right: 2px solid #9fa8a3;
                }
                .c2 {
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    border-radius: 50%;
                    border-left: 2px solid #9fa8a3;
                    margin: -20px 0 0 103%;
                }
            } // CONTAINER
            p {
                font-size: 16px;
                color: #335a67;
                font-weight: 600;
                margin-bottom: 3%;
            }

        } //BODY SECTION
        .el-button {
            margin-top: 0;
            font-size: 18px;
            border-radius: 0;
            background-color: btn-color-dark();
        }
        .el-button:active,
        .el-button:active,
        .el-button:hover {
            background-color: btn-color-light();
        }
		}
		.inputarea {
			padding: 0 40px;
			ion-input {
					border: 2px solid #9fa8a3;
					border-radius: 5px;
					font-weight: 700;
			}
	}
}