<ion-header class="online-card-head">
	<ion-grid no-padding>
		<ion-row>
			<ion-col col-1 class="r-icon" no-padding>
				<button ion-button clear icon-only (click)="back()">
					<ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<h2>{{'Online Cards'|translate}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>


<ion-content padding>
	<div [ngSwitch]="step" class="online-card-body">
		<form action="">
			<div *ngSwitchCase="1">
				<ion-row>
					<ion-item>
						<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
						<ion-label stacked>{{'Amount'|translate}}</ion-label>
						<ion-input [(ngModel)]="amount" name="amount" (ngModelChange)="detectAmountChange($event)" type="number" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
					</ion-item>
				</ion-row>

				<div padding *ngIf="amount && amount!=='0' ">
					<button ion-button block (click)="toStep2()">{{'Next'|translate}}</button>
				</div>

				<button id="CardHistory" ion-button color="primary" block (click)="Mpin()">{{'Card history'|translate}}</button>

			</div>

			<div *ngSwitchCase="2">

				<div class="confirmation-body">
					<ion-grid class="body-section" padding>
						<div class="el-container" padding>

							<ion-row class="bill-area">
								<ion-col class="r">
									<p>{{'Amount'|translate}}</p>
								</ion-col>
								<ion-col class="l">
									<p>{{amount | number:'.2-2'}}</p>
								</ion-col>
							</ion-row>

							<ion-row class="bill-area">
								<ion-col class="r">
									<p>{{'Fees'|translate}}</p>
								</ion-col>
								<ion-col class="l">
									<p>{{fees}}</p>
								</ion-col>
							</ion-row>

							<ion-row class="bill-area">
								<ion-col class="r">
									<p>{{'Commissions'|translate}}</p>
								</ion-col>
								<ion-col class="l">
									<p>{{comm}}</p>
								</ion-col>
							</ion-row>

							<ion-row class="bill-area">
								<ion-col class="r">
									<p>{{'total'|translate}}</p>
								</ion-col>
								<ion-col class="l">
									<p>{{ (totalAmount
										< 0) ? viewTotalAmount(totalAmount) : (totalAmount | number: '.2-2') }}</p>
								</ion-col>
							</ion-row>

							<div class="c1"></div>
							<div class="c2"></div>

							<ion-row>
								<ion-col class="r">
									<p>{{'new-balance'|translate}}</p>
								</ion-col>
								<ion-col class="l">
									<p>{{totalBalance | number:'.2-2'}}</p>
								</ion-col>
							</ion-row>
						</div>

						<p>{{'confirm-mpin'|translate}}</p>
						<ion-item class="inputarea" padding>
							<ion-input type="number" style="-webkit-text-security:disc;" [(ngModel)]="mpin" [ngModelOptions]="{standalone: true}" (ngModelChange)="detectPinChange($event)"></ion-input>
						</ion-item>

					</ion-grid>

					<ion-row padding>
						<button ion-button block (click)="toStep3()" class="el-button">{{'CONFIRM'|translate}}</button>
					</ion-row>
				</div>

			</div>

			<div *ngSwitchCase="3">
				<ion-card style="padding-top: 12px; background-color: #8a8aab;" class="display-card">

					<ion-row>
            <ion-col>
						<ion-item>
							<h2 style="color: #fff;">CVV: {{card.cvv}}</h2>
            </ion-item>
            </ion-col>

            <ion-col>
						<ion-item>
							<h2 style="color: #fff;">Exp: {{card.exp}}</h2>
            </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-item>
                <h2 style="color: #fff; font-size: 2.4rem; text-align: center; font-weight: bold;">{{card.number}}</h2>
              </ion-item>
            </ion-row>
            <ion-item>
                <div class="vcc-card-icon">VCC</div>
              </ion-item>
				</ion-card>
			</div>
		</form>


	</div>

</ion-content>
