.add-card-head {
    text-align: center;
    
    background-color: header-background();
    .r-icon {
        text-align: left;
    }
    ion-icon {
        font-size: 25px;
        color: icon-color();
    }
    h2 {
        color: header-text-color();
        margin-top: 14px;
        font-family: font-head();
    }
}
ion-content{
    // overflow-y: hidden;
}
.scroll-content{
    background-image: unset !important
  }
.add-card-body {
    // overflow-y: hidden;
    font-family: font-light();
    .submit-btn{
      background-color: btn-color-dark();
    }
    .the-rows{
        margin: 2% 0 0 0;
        padding: 0 ;
        border-bottom: 2px solid #003B71;
      }
    text-align: center;
    height: 100%;
    ion-row {
        border-bottom: 1px solid input-border-color();
    }
    ion-icon {
        font-size: 35px;
        color: icon-color();
        margin-bottom: 0;
    }
    ion-item {
        padding: 0;
        background: transparent !important;
        color:  ion-input-color();
        margin-bottom: 2%;
    }
    ion-input {
        margin: 0;
        color: ion-input-color();
        background: input-back-color();
        font-size: 14px;
        padding: 0 5px;
    }
    ion-label {
        margin-bottom: 0;
        color: ion-label-color();
        font-weight: 700;
    }
    button {
        background-color: btn-color-dark();
        border-radius: border-raduis();
        border: border();
        color: white;
        font-family: font-head() !important
    }
    button:active,
    button:hover {
        background-color: btn-color-light();
    }
}
