<ion-header >
    <ion-grid no-padding class="add-card-head">
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{'Add Card'|translate}}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content padding>
    <div class="add-card-body">

        <form [formGroup]="addCardForm" (ngSubmit)="addCard(addCardForm.value)">
            <ion-grid>

            <ion-row class="the-rows">
                <ion-col>
                <ion-item>
                    <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
                    <ion-label stacked>{{'Card Number'|translate}}</ion-label>
                    <ion-input formControlName="pan" name="cardNumber" type="number" placeholder="{{'Enter-the'|translate}} {{'Card Number'|translate}}"></ion-input>
                </ion-item>
            </ion-col>


                <div *ngIf="pan.errors?.required && (pan.dirty || pan.touched)">
                    <span style="color:red"> card number is required.</span>
                </div>

            </ion-row>


            <br>
            <ion-row class="the-rows">
                <ion-col>
                <ion-item>
                    <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
                    <ion-label stacked>{{'Card Pin'|translate}}</ion-label>
                    <ion-input formControlName="pin" name="cardPin" type="number" placeholder="{{'Enter-the'|translate}} {{'Card Pin'|translate}}"></ion-input>
                </ion-item>
            </ion-col>


                <div *ngIf="pin.errors?.required  && (pin.dirty || pin.touched)">
                    <span style="color:red">card pin is required.</span>
                </div>

            </ion-row>


            <br>
            <ion-row class="the-rows">
                <ion-col>
                <ion-item>
                    <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
                    <ion-label stacked>{{'National Id'|translate}}</ion-label>
                    <ion-input formControlName="nationalId" name="national id" type="number" placeholder="{{'Enter-the'|translate}} {{'National Id'|translate}}"></ion-input>
                </ion-item>
            </ion-col>

                <div *ngIf="nationalId.errors?.maxlength || nationalId.errors?.minlength ">
                    <span style="color:red">national id must be at least 14 characters long.</span>
                </div>

            </ion-row>


            <br>
            <ion-row class="the-rows">
                <ion-col>
                <ion-item>
                    <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
                    <ion-label stacked>{{'Mobile Number'|translate}}</ion-label>
                    <ion-input formControlName="walletMobileNumber" name="mobileNumber" type="number" placeholder="{{'Enter-the'|translate}} {{'Mobile Number'|translate}}"></ion-input>
                </ion-item>
            </ion-col>
            </ion-row>
        

            <br>
            <ion-row padding style="border:none">
                <ion-col>
                    <button [disabled]="addCardForm.invalid" block ion-button class="submit-btn">{{'Submit'|translate}}</button>
                </ion-col>
            </ion-row>
        </ion-grid>

        </form>

    </div>
</ion-content>
