@import '../../theme/theme';
page-nfc {
        .scroll-content{
        background-image: unset !important
      }
    .nfc-header {
        text-align: center;
        background-color: header-background();

        .r-icon {
            text-align: left;
        }
        ion-icon {
            font-size: 25px;
            color: icon-color();
        }
        h2 {
            color: white;
            font-weight: 500;
            margin: 0 0 5px 0;
            // margin-top: 12px;
        }
    }//EL HEAD

    .nfc-body{
        text-align: center;
        .the-rows {
            margin: 0;
            padding: 0 15px;
        }

        ion-item {
            padding: 0;
            border-bottom: 1px solid #335a67;
        }
    
        ion-label {
            margin-bottom: 0;
            color: #335a67;
            font-weight: 700;
        }
    
        ion-input {
            margin: 0;
            color: #335a67;
        }
    
        ion-icon {
            color: #335a67;
            font-size: 25px;
        }

        ion-select {
            font-size: 14px;
            color: #335a67;
            font-weight: 700;
            max-width: 100%;
        }

        button {
            margin-top: 10%;
            font-size: 18px;
            border-radius: 0;
        }
    }
        
    
}