<ion-header class="nfc-header">
  <ion-grid no-padding>
    <ion-row >
      <ion-col  class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back" ></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col></ion-col> -->
    </ion-row>
    <h2>Statistics</h2>
  </ion-grid>
</ion-header>

<ion-content no-padding>

    <ion-grid class="nfc-body">
      <ion-row class="the-rows">
        <ion-item>
          <ion-label stacked><ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>Amount <span style="color: grey">(optional)</span></ion-label>
          <ion-input [(ngModel)]="amount" (ngModelChange)="detectAmountChange($event)" type="number"></ion-input>
        </ion-item>
      </ion-row>
      
      <ion-row class="the-rows">
        <ion-item>
          <ion-select [(ngModel)]="tipOrConvenience">
            <ion-option value='none'>Choose Tip or Convenience</ion-option>
            <ion-option value="tip">Tip</ion-option>
            <ion-option value="convenience">Convenience</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row *ngIf="tipOrConvenience=='convenience'" class="the-rows">
        <ion-item>
          <ion-label stacked><ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon> Convenience</ion-label>
          <ion-input type="number" [(ngModel)]="convenience" 
          (ngModelChange)="detectConvenienceChange($event)"></ion-input>    
        </ion-item>
      </ion-row>
      
      <ion-row class="the-rows">
        <ion-item>
          <ion-label stacked>Reference1 <span style="color: grey">(optional)</span></ion-label>
          <ion-input type="text" [(ngModel)]="reference1"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="the-rows">
        <ion-item>
          <ion-label stacked>Reference2 <span style="color: grey">(optional)</span></ion-label>
          <ion-input type="text" [(ngModel)]="reference2"></ion-input>    
        </ion-item>
      </ion-row>
      
      <ion-row> 
        <button ion-button (click)="shareNfc()" block>Share NFC</button>
      </ion-row>
    </ion-grid><!--EL BODY-->

</ion-content>