page-splash {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }

  @-webkit-keyframes fadeIn { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }

  @-o-keyframes fadeIn { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
  
  .splash-page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: fadeIn 4s;
    text-align: center;
    
    

    .eg-logo {
      position: fixed;
      top:30%;
      width: 100%;
      img {
        width: 130px;
        height: auto;
      }
    }
    
    h6 {
      position: fixed;
      top:43.5%;
      width: 100%;
      font-size: 17px;
      color: text-color();
      font-family: 'Saira-Thin' !important;
    }

    .egbank-logo {
      position: fixed;
      top:50%;
      width: 100%;
      img {
        width: 150px;
        height: auto;
      }
    }
   
  
    
    #bg-img {
      position: fixed;
      bottom: 5%;
      width: 100%;
      padding: 0 20px;
    }
  }// END OF SECTION
}