<ion-content no padding>
  <div class="splash-page" ion-fixed>
    <ion-grid no-padding>
      <!-- <ion-row class="eg-logo">
        <ion-col>
          <img src="assets/orange/orange-logo.png">
        </ion-col>
      </ion-row> -->

      <h6>WELCOME TO</h6>

      <ion-row class="egbank-logo">
        <ion-col>
          <img src="assets/its/logo-splash.png" alt="">
        </ion-col>
      </ion-row>

      <!-- <img id="bg-img" src="assets/splach-bg.png"> -->
    </ion-grid>
  </div>
</ion-content>