<ion-content no padding>
  <div class="splash-page" ion-fixed>
    <ion-grid no-padding>
    

      <ion-row class="egbank-logo">
        <ion-col>
          <img src="assets/egbank/logo-splash.png" alt="">
        </ion-col>
      </ion-row>

      <ion-row class="splash-text">
        <ion-col >
          <p>
          Welcome to EGBANK Wallet
          </p>
        </ion-col>
      </ion-row>

      <!-- <img id="bg-img" src="assets/splach-bg.png"> -->
    </ion-grid>
  </div>
</ion-content>