<ion-header >
  <ion-grid no-padding class="otp-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'One Time Password'|translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div class="otp-body">
    <form >
      <p>{{"otp-title"|translate}}</p>
      
      <ion-row class="the-rows">
       
          <ion-item>
            <ion-label stacked>{{'Amount'|translate}} ({{'optional'|translate}})</ion-label>
            <ion-input type="number" [(ngModel)]="amount" name="amount"
            (ngModelChange)="detectAmountChange($event)" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
            <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
          </ion-item>
        
      </ion-row>

      <ion-row>
        <button ion-button block (click)="validate()">{{'Generate OTP'|translate}}</button>
      </ion-row>
    </form>


    <ion-row>
      <div style="width: 100%;padding-top: 10px;">
        <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
      </div>
    </ion-row>
    
  </div>
</ion-content>