@import "../../theme/theme";

page-otp {
  .otp-head {
    background-color: header-background();
    text-align: center;

    .r-icon {
      text-align: left;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      font-weight: 500;
      margin-top: 14px;
      font-family: 'Proxima-Semibold';
    }
  }//EL HEAD


  .otp-body  {
    text-align: center;
    height: 100%;
    padding: 10px;

    p {
      margin: 30px 0 0 0;
      font-size: 16px;
      color: #335a67;
      font-weight: 600;
    }

    .the-rows {
      padding: 0 15px;
      margin-bottom: 10%;
      margin-top: 2rem;
    }

    ion-icon {
      color: #335a67;
      font-size: 25px;
    }

    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 14px;
      padding: 0 5px;
    }

    ion-label {
      margin-bottom: 0;
      color: ion-label-color();
      font-weight: 700;
    }

    ion-item {
      padding: 0;
      border-bottom: 1px solid #335a67;
  }

    button {
      font-size: 18px;
      border-radius: 0;
      background-color: btn-color-dark();
    }

    button:active,button:focus,button:hover{
      background-color: btn-color-light();
    }

  }

  [ion-fixed] {
    position: initial;
  }


}
