<ion-content>
  <div ion-fixed no-padding class="home-body">
    <ion-grid class="section-1" no-padding>
      <img src="assets/bg.png" alt="">
      <ion-row class="the-header">
        <ion-col class="r-icon" no-padding>

          <button [ngClass]="{'ar-setting-btn':('lng'|translate)==='ar'}" ion-button clear icon-only (click)="setting()">
            <ion-icon name="settings" class="setting"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <h1 class="header-text">{{ 'home' | translate }}</h1>
        </ion-col>
        <ion-col class="l-icon" no-padding>
          <button [ngClass]="{'ar-notification-btn':('lng'|translate)==='ar'}" ion-button clear icon-only (click)="notifications()">
            <ion-icon class="notification" ios="ios-notifications-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="the-balance">
        <ion-col>
          <p class="balance_title">{{ 'balance' | translate }}</p>

          <p class="balance_value">{{globals?.balance | number:'.2-2'}} {{ 'EGP' | translate}} </p>
        </ion-col>
      </ion-row>

      <ion-row class="the-buttons" *ngIf="userType==='customer'" no-padding>
        <ion-col class="r-col" no-padding>
          <button icon-end (click)="purchases()">{{'purchase' | translate}}
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          </button>
        </ion-col>
        <ion-col no-padding>
          <button icon-end (click)="moneyTransfers()">{{'transfer' | translate}}
            <ion-icon ios="ios-swap" md="md-swap"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="the-buttons" *ngIf="userType==='merchant'" no-padding>
        <ion-col no-padding>
          <button icon-end (click)="purchases()">{{'purchase' | translate}}
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="section-2">
      <ion-slides pager>
        <ion-slide *ngFor="let refNum of last4RequestKeys">
          <ion-row>

            <ion-col col-7>
              <h6 class="sliderText1">{{last4Requests[refNum]?.data?.amount}} EGP </h6>
              <p class="sliderText2">{{last4Requests[refNum]?.data?.shortMsg}}</p>
            </ion-col>

            <ion-col col-3 *ngIf=" !isNotificationViewed(refNum)">
              <button class="the-btnz" style="margin-top: 35%" (click)="acceptOrReject(last4Requests[refNum],refNum)" ion-button icon-end
                clear>{{'respond' | translate}}
                <ion-icon ios="ios-redo" md="md-redo"></ion-icon>
              </button>
            </ion-col>

            

            <ion-col col-3 *ngIf="  isNotificationViewed(refNum)">
              <ion-col col-3 *ngIf=" last4Requests[refNum].title === 'Request to Pay' && isNotificationViewed(refNum)">
                <button class="the-btnz" style="margin-top: 45%" (click)="viewRequest(last4Requests[refNum].data.refNum)" ion-button icon-end
                  clear>{{'view' | translate}}
                  <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
                </button>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>

      <ion-fab left edge>
        <button ion-fab mini class="scan-btn" (click)="scanQrcode()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-fab>
    </ion-grid>

    <ion-grid class="section-3" *ngIf="userType==='merchant'">
      <ion-row class="row-1">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="nfc()">
            <img src="assets/Statistics.png">
            <p>{{'statistics'|translate}}</p>
          </div>
        </ion-col>

        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="qrcode()">
            <img src="assets/qr.png">
            <p>{{'QrCode'|translate}}</p>
          </div>
        </ion-col>

        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="bill()">
            <img src="assets/bills.png">
            <p>{{'bills'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-2">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="favourites()">
            <img src="assets/Favorites.png">
            <p>{{'favorites'|translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="otp()" class="otp-font">
            <img src="assets/Password.png">
            <p>{{'One Time Password'|translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="history()">
            <img src="assets/history.png">
            <p>{{'history'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-3">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="cash('cashIn')">
            <img src="assets/cashin.png">
            <p>{{'Cash In' | translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="cash('cashOut')">
            <img src="assets/cashout.png">
            <p>{{'Cash Out' | translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="r2p()">
            <img src="assets/r2p.png">
            <p>{{'Request to pay'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="section-3-2" *ngIf="userType==='customer'">
      <ion-row class="row1">
        <ion-col class="1-col">
          <div (click)="loadWallet()">
            <img src="assets/v-lfc.png">
            <p>{{'Load Wallet'|translate}}</p>
          </div>
        </ion-col>

        <ion-col class="1-col">
          <div (click)="onlineCards()">
            <img src="assets/v-online1.png">
            <p>{{'Online Cards'|translate}}</p>
          </div>
        </ion-col>

        <ion-col class="1-col">
          <div (click)="bill()">
            <img src="assets/bills.png">
            <p>{{'bills'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row2">
        <ion-col class="1-col">
          <div (click)="favourites()">
            <img src="assets/Favorites.png">
            <p>{{'favorites'|translate}}</p>
          </div>
        </ion-col>
        <ion-col class="1-col">
          <div (click)="otp()" class="otp-font">
            <img src="assets/Password.png">
            <p>{{'One Time Password'|translate}}</p>
          </div>
        </ion-col>
        <ion-col class="1-col">
          <div (click)="history()">
            <img src="assets/history.png">
            <p>{{'history'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
