@import '../../theme/theme';
page-home {
.scroll-content{
  background-image: unset !important
}
  .scan-btn{
    background-color: btn-color-light();
  }

  .header-text{
    color:header-text-color();
  }

  .home-body {
    background-color:home-background-color();
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Proxima-Regular';
    .setting .notification{
      color: icon-color()
    }

    .section-1 {
      text-align: center;
      width: 100%;
      height: 35%;
      img {
        position: absolute;
        top: 7%;
        height: auto;
        width: 100%;
      }
      h1 {
        color: white;
        font-size: 20px;
        font-family: 'Proxima-Semibold';
      }
      .r-icon {
        text-align: left;
      }
      .l-icon {
        text-align: right;
      }
      ion-icon {
        margin-top: 13px;
        font-size: 25px;
        color: icon-color();
      }
      p {
        margin-top: 1%;
        color: white;
        font-size: 25px;
      }
      .the-balance {
        margin-top: 5%;
      }
      .balance_title {
        font-size: 20px;
        margin-bottom: 0;
      }
      .the-buttons {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        height: 100px;
        
        ion-icon {
          font-size: 20px;
          color: white;
          margin: 0;
        }
        button {
          width: 100%;
          height: 100%;
          font-size: 22px;
          color: white;
          background-color: rgba(255, 255, 255, 0.2);
          transition: 0.2s;
        }
        button:active {
          transform: scale(0.9);
          transition: 0.2s;
        }
        .r-col {
          border-right: 1px solid white;
        }
      }
    } //END OF SECTION 1

    .section-2 {
      height: 17%;
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid white;
      h6 {
        font-size: 23px;
        color: white;
      }
      p {
        font-size: 15px;
        color: white;
      }
      .the-btnz {
        height: 40px;
        width: 100px;
        border: 1px solid white;
        background-color: grey;
        color: white;
        font-size: 15px;
        border-radius: 0;
        transition: 0.2s;
        margin-right: -50%;
      }
      .the-btnz:active {
        background-color: white;
        border: 1px solid #0F385A;
        color: #0F385A;
        transform: scale(0.9);
        transition: 0.2s;
      }

      ion-fab {
        top: 17%;
        left: -5px;
        //right: -5px;
      }
      
    } // END OF SECTION 2

    .section-3 {
      max-height: 49% !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 51.3%;
      display: flex;
      flex-direction: column;

      .row-1 {
        flex: 1;
      }
      .row-2 {
        flex: 1;
      }
      .row-3 {
        flex: 1;
      }
      ion-col {
        padding: 5px 3px 0px 3px;
      }
      
      div {
        min-height: 98% !important;
        height: 85px;
        padding: 15% 0 0 0;
        background-color: home-sections-color();
        border-radius: 5px;
        transition: 0.2s;
      }
      div:active {
        transform: scale(0.9);
        transition: 0.2s;
      }
      img {
        width: auto;
        height: 40px;
      }
      p {
        color: white;
        margin-top: 0;
        font-size: 15px;
      }
      .otp-font {
        img {
          height: 35px;
          width: auto;
        }
        p {
          font-size: 15px;
        }
      }
    } // END OF SECTION 3

    .section-3-2 {
      max-height: 49% !important;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 51.3%;
      display: flex;
      flex-direction: column;
      margin-top: .6rem;

      .row1 {
        flex: 1;
      } 
      .row2 {
        flex: 1;
      } 
      
      ion-col {
        padding: 5px 3px 0 3px;
      }
      div {
        min-height: 90% !important;
        height: 90px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 28% 0;
        border-radius: 5px;
        transition: 0.2s;
      }
      div:active {
        transform: scale(0.9);
        transition: 0.2s;
      }
      img {
        width: auto;
        height: 40px;
      }
      p {
        color: white;
        font-size: 16px;
        margin: 0;
      }
 
    } //END OF SECTION 3 BELONGE TO CUSTOMER
  }
}
