<ion-content>
  <div ion-fixed no-padding class="home-body">

    <ion-grid class="section-1" no-padding>
      <!-- <img src="assets/bg.png" alt=""> -->
      <ion-row class="the-header">
        <ion-col col-10 class="home-img-col">

          <img class="home-img" src="assets/egbank/home-icon.png" alt="">
          <h1>{{ 'HOME' | translate }}</h1>

        </ion-col>
        <ion-col col-2 class="r-icon" no-padding>
            <button [ngClass]="{'ar-notification-btn':('lng'|translate)==='ar'}" ion-button clear icon-only (click)="notifications()">
                <img class="icon" src="assets/egbank/notification-icon.png" alt="">
              </button>
          <button [ngClass]="{'ar-setting-btn':('lng'|translate)==='ar'}" ion-button clear icon-only (click)="setting()">
              <img  class="icon" src="assets/egbank/setting-icon.png" alt="">
          </button>
        </ion-col>
        <!-- <ion-col class="l-icon" no-padding>
        </ion-col> -->
      </ion-row>

      <ion-row  *ngIf="!isChild">
        <ion-col>
          <div class="the-balance">
            <p class="balance_title">{{ 'balance' | translate }}: {{globals?.balance | number:'.2-2'}} {{ 'EGP' | translate}} </p>
            <!-- <p class="balance_value"> </p> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="section-2">

      <ion-row class="the-buttons" *ngIf="userType==='customer'" >
        <ion-col col-4 class="r-col" no-padding>
            <button type="button" icon-end (click)="purchases()">
                <img src="assets/egbank/purshase-icon.png" alt="">
            <br>
            {{'purchase' | translate}}
          </button>
        </ion-col>
        <div style="border-left:2px solid #003B71;height:7vh"></div>
        <ion-col col-4 no-padding>
          <button  type="button" icon-end (click)="moneyTransfers()" >
            <ion-icon ios="ios-swap" ></ion-icon>
            <br>
            {{'transfer' | translate}}
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="the-buttons" *ngIf="userType==='merchant'" no-padding>
        <ion-col col-3 no-padding>
            <button  icon-end (click)="purchases()">
            <img src="assets/egbank/purshase-icon.png" alt="">
            <br>
            {{'purchase' | translate}}
          </button>
        </ion-col>
      </ion-row>


      <ion-slides pager>
        <ion-slide *ngFor="let refNum of last4RequestKeys">
          <ion-row class="slider-row">

            <ion-col col-12 class="slider-col">
              <h6 class="sliderText2">{{last4Requests[refNum]?.data?.shortMsg}}</h6>
              <h6 class="sliderText1">Amount Requested: {{last4Requests[refNum]?.data?.amount}} EGP </h6>
              <hr class="hr-home">
            </ion-col>

            <ion-col col-12 class="slider-col" *ngIf=" last4Requests[refNum].title !== 'Request to Pay' && !isNotificationViewed(refNum)">
              <button class="the-btnz" (click)="acceptOrReject(last4Requests[refNum],refNum)" ion-button icon-end
                clear>{{'respond' | translate}}
              </button>
              <!-- <hr> -->
            </ion-col>
            <ion-col col-12 class="slider-col" *ngIf=" last4Requests[refNum].title === 'Request to Pay' && !isNotificationViewed(refNum)">
              <button class="the-btnz" (click)="acceptOrReject(last4Requests[refNum],refNum)" ion-button icon-end
                clear>{{'respond' | translate}}
              </button>

            </ion-col>

            <ion-col col-12 class="slider-col" *ngIf=" last4Requests[refNum].title !== 'Request to Pay' && isNotificationViewed(refNum)">
              <button class="the-btnz" (click)="viewRequest(refNum)" ion-button icon-end clear>{{'view' | translate}}
              </button>
            </ion-col>



            <ion-col col-12 class="slider-col" *ngIf=" last4Requests[refNum].title === 'Request to Pay' && isNotificationViewed(refNum)">
              <button class="the-btnz" (click)="viewRequest(refNum)" ion-button icon-end clear>{{'view' | translate}}
              </button>
            </ion-col>

          </ion-row>

        </ion-slide>
        <hr class="hr-home-2" *ngIf="!last4RequestKeys[0]">
      </ion-slides>

      <ion-fab left edge>
        <button ion-fab mini color="secondary" (click)="scanQrcode()">
          <ion-icon name="qr-scanner"></ion-icon>
        </button>
      </ion-fab>
    </ion-grid>
    <!-- <button type="button" icon-end (click)="purchases()">
        <img src="assets/egbank/purshase-icon.png" alt="">
    <br>
    {{'purchase' | translate}}
  </button> -->
    <ion-grid class="section-3" *ngIf="userType==='merchant'">
      <ion-row class="row-1">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col" >
          <div (click)="nfc()">
              <img class="img-3" src="assets/egbank/stat.png">
              <p>{{'statistics'|translate}}</p>
          </div>



        </ion-col>

        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="qrcode()">
            <img src="assets/egbank/qr.png">
            <p>{{'QrCode'|translate}}</p>
          </div>
        </ion-col>

        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="bill()">
            <img src="assets/egbank/bills.png">
            <p>{{'bills'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-2">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="favourites()">
            <img src="assets/egbank/fav.png">
            <p>{{'favorites'|translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="otp()" class="otp-font">
            <img src="assets/egbank/one-time-pass.png">
            <p>{{'One Time Password'|translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="history()">
            <img src="assets/egbank/histroy-icon.png">
            <p>{{'history'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-3">
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="cash('cashIn')">
            <img src="assets/egbank/cash-in.png">
            <p>{{'Cash In' | translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="cash('cashOut')">
            <img src="assets/egbank/cashout.png">
            <p>{{'Cash Out' | translate}}</p>
          </div>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-4 col-xl-4 class="1-col">
          <div (click)="r2p()">
            <img src="assets/egbank/r2p-icon.png">
            <p>{{'Request to pay'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="section-3-2" *ngIf="userType==='customer'">
      <ion-row class="row1 box">
        <ion-col class="1-col">
          <div (click)="loadWallet()">
            <img src="assets/egbank/r2p-icon.png">
            <p>{{'Load Wallet'|translate}}</p>
          </div>
        </ion-col>

        <ion-col class="1-col">
          <div (click)="onlineCards()">
            <img src="assets/egbank/v.png">
            <p>{{'Online Cards'|translate}}</p>
          </div>
        </ion-col>

        <ion-col class="1-col">
          <div (click)="bill()">
            <img src="assets/egbank/bills.png">
            <p>{{'bills'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row2 box">
        <ion-col class="1-col">
          <div (click)="favourites()">
            <img src="assets/egbank/fav.png">
            <p>{{'favorites'|translate}}</p>
          </div>
        </ion-col>
        <ion-col class="1-col">
          <div (click)="otp()" class="otp-font">
            <img src="assets/egbank/one-time-pass.png">
            <p>{{'One Time Password'|translate}}</p>
          </div>
        </ion-col>
        <ion-col class="1-col">
          <div (click)="history()">
            <img src="assets/egbank/histroy-icon.png">
            <p>{{'history'|translate}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
