@import '../../theme/theme';



page-signup-intermediate {
  font-family: 'Proxima-Regular';
  .sign_header {
    text-align: center;
    background-color: header-background();

    .r-icon {
      text-align: left;
    }            
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      margin-top: 14px;
      font-family: 'Proxima-Semibold';
      margin-right: 35px;

      span {
        font-family: 'Proxima-Regular';
      }
    }
  }

   .img
  {
    height: 15%;
    width: 12%;
  }
 
.img2
  {
    //height: 15%!important;
    width: 55px!important;
    margin-top: 9px !important;
    margin-left: 21px !important;
  } 

  .header
  {
    color: white;
    font-size: 130%;
    text-align: center;
  }

  

  .secondContainer {
    ion-row {
      margin: 35px 0;
    }

    ion-item {
      padding: 0;
    }
  
    ion-label {
      margin-bottom: 0 !important;
      color: ion-label-color();
      font-size: 15px !important;
      font-weight: 600;
    }
  
    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 15px;
      padding: 0 5px;
      border-bottom : 1px solid input-border-color();
    }
    
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }

    button {
      background-color: btn-color-dark();
    }
    button:active ,button:hover,button:focus{
      background-color: btn-color-light();
      border-radius: 1px solid btn-color-light();
    }
  } 

  .desc
  {
    color: grey;
    font-size: 130%;
    text-align: center;
    margin-top: 10%;
  }

  .m3
  {
    background-color: icon-color();
  }

  .textArea
  {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    color: black;
    font-size: 150%;
    text-align: center;
  }



.container
{
    margin-left: 7%;

  width:100%;
}

.progressbar{

padding-left: 5%;
counter-reset: step;
}

.progressbar li{
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;

}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  height: 45px;
  width: 45px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
  font-size: 125%;
  background-color: white;
}

.progressbar li:after
{
content: '';
position: absolute;
width: 100%;
height: 3px;
background-color: #ddd;
top: 22.5px;
left: -70%;
z-index: -1;
}

.progressbar li:first-child:after
{
  content: none;
}
//

.progressbar li.last:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 22.5px;
  left: -70%;
  z-index: -1;
}

.progressbar li.active {
  color: map-get($colors,danger);

}

.progressbar li.active:before {
  border-color: map-get($colors,danger);
}

.progressbar li.active + li:after {
  background-color: map-get($colors,danger);
}


.secondContainer
{
  margin-top: 20%;
}


}
