<ion-header class="sign_header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col><h2><span>{{theme}}&nbsp;</span>Wallet</h2></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>

  <div class="container">
      
    <ul class="progressbar">
      
      <li></li>
      <li></li>
      <li></li>
      <li class="last"></li>
      <img [src]=[src] class="img2">
    </ul>

  </div>

  <div class="secondContainer">
    <ion-label class="desc" text-wrap>
      {{'SignupIntermediate-title'|translate}}
    </ion-label>

    <!-- <div class="textArea">
      
    </div> -->
    <form action="">
    <ion-row>
      <ion-item>
        <ion-label floating>{{'Enter-the'|translate}} {{'number'|translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="walletId" (ngModelChange)="detectMobileChange($event)" name="num"></ion-input>
        <ion-icon name="phone-portrait" item-left></ion-icon>
      </ion-item>
    </ion-row>


    <div align="center">
      <button type="submit" ion-button  class="submit-btn" block (click)="validate()">{{'Confirm'|translate}}</button>
    </div>
  </form>
  </div>
</ion-content>