<!-- <ion-header class="sign_header">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col><h2><span>EG</span>Bank Wallet</h2></ion-col>
    </ion-row>
  </ion-grid>
</ion-header> -->

<ion-content no-padding class="signupBody">

  <div >
    
    <div class="content-bg">
        <!-- <form> -->
     <div class="circles">
        <ul class="progressbar">
            <li class="active"></li>
            <hr class="hr-code">
            <li></li>
            <hr class="hr-code">
            <li></li>
          </ul>
     </div>
  
      <div class="secondContainer">
        <ion-label class="desc" text-wrap>
          {{'SignupIntermediate-title'|translate}}
        </ion-label>
    
        <!-- <div class="textArea">
          
        </div> -->
        <form #Form = "ngForm">
        <ion-row center>
          <ion-col col-10>
            <ion-item>
              <ion-label floating>Enter the number</ion-label>
              <ion-input type="number" name="number" #number="ngModel"[(ngModel)]="walletId" (ngModelChange)="detectMobileChange($event)"></ion-input>
              <ion-icon class="phone-icon" name="phone-portrait" item-left></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col col-10>
            <button type="submit" ion-button outline block (click)="validate()">{{'Confirm'|translate}}</button>
          </ion-col>
        </ion-row>
      </form>
      </div>
    <!-- </form> -->
    </div>
  
  </div>
  

</ion-content>