<ion-header>
  <ion-grid no-padding  class="setting-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'Settings'|translate}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content class="master">


  <ion-card>

    <ion-row (click)='changeMpin()'>
      <ion-item class="about">
        <ion-icon name="key" item-left></ion-icon>
        {{'Change'|translate}} {{'mPIN'|translate}}
      </ion-item>
    </ion-row>

    <ion-row (click)='changelng()'>
      <ion-item class="about">
        <ion-icon name="information-circle"></ion-icon>
        {{'Change'|translate}} {{'language'|translate}} {{'To'|translate}} {{"other_lang"|translate}}
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item class="about">
        <ion-icon name="information-circle"></ion-icon>
        {{'Mobile'|translate}} {{'Version '|translate}} {{version}}
      </ion-item>
    </ion-row>

    <ion-row (click)='logout()'>
      <ion-item class="logout">

        <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>
        {{"Logout"|translate}}
      </ion-item>
    </ion-row>
  </ion-card>

</ion-content>