@import '../../theme/theme';
page-settings {

 .setting-head {
    text-align: center;
    background-color: header-background();

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      font-weight: 500;
      //margin: 0 0 5px 0;
      margin-top: 14px;
    }
  } // THE HEAD

  .img
  {
    height: 15%;
    width: 12%;
  }

   .master
   {
     background-color: #eee;
   }

   .item
   {
     margin-top: 5%;
   }

   .item1
   {
     margin: 0;
   }

  .about
  {
    margin: 0%;
  }

  .logout
  {
    margin-top: 0%;
  }
}
