$theme: 'cib';
$header-background-cib: #0F385A;
$icon-color-cib:#335a67;
$header-text-color-cib: white;
$input-border-color-cib:black;
$ion-label-color-cib:#335a67;
$btn-color-dark-cib:#0F385A;
$btn-color-light-cib:#0F385A;
$ion-input-color-cib:black;
$notifiction-list-background-cib:#26AAA5;
$detail-text-color-cib:#335a67;
$login-background-color-cib: white;
$background-color-cib: white;
$home-background-color-cib:#0F385A;
$home-sections-color-cib:rgba(255, 255, 255, 0.2);
$text-color-cib :#0F385A;
$progress-bar-color-cib:green;
$notification-text-color-cib: white;
$ion-input-icon-color-cib:#0F385A;
$notifiction-circle-cib:#C0C0C0;
$btn-border-color-cib:#335a67;
$header-background-egbank: #00C4B3;
$header-border-color-egbank: #003B71;
$login-background-color-egbank: #003B71;
$home-background-color-egbank: #00C4B3;
$icon-color-egbank:#335a67;
$header-text-color-egbank: white;
$input-border-color-egbank:#003B71;
$ion-label-color-egbank:#00C4B3;
$btn-color-dark-egbank:#0F385A;
$ion-button-border-color-egbank:#00C4B3;
$btn-color-light-egbank:#0F385A;
$ion-input-color-egbank:#335a67;
$notifiction-list-background-egbank:#26AAA5;
$detail-text-color-egbank:#335a67;
$signUp-li-background-color:#00C4B3;
$background-transperent: transparent;
$border:2px solid #003B71;
$border-raduis:0px !important;
$font-text-light:'text_light';
$font-head:'headline_bold';
$font-text:'p_text';
$transperent-background:#00B0A1;
// $border: 1px solid #003B71;



/**
orange theme variables
*/
$header-background-orange: #000000;
$background-color-orange: #000000;
$home-background-color-orange: black;
$login-background-color-orange: black;
$header-background-its: #242436;
$background-color-its: #242436;
$home-background-color-its: #242436;
$login-background-color-its: #242436;
$home-sections-color-orange: rgba(42, 51, 43, 0.555);
$header-text-color-orange:white;
$detail-text-color-orange:#000000;
$icon-color-orange:rgb(255, 115, 0);
$input-border-color-orange:rgb(255, 115, 0);
$text-color-orange:rgb(255, 115, 0);
$btn-color-dark-orange:rgb(255, 115, 0);
$btn-color-light-orange:#FFA500;
$btn-border-color-orange:rgb(255, 115, 0);
$ion-input-icon-color-orange :rgb(255, 115, 0);
$ion-input-color-orange:black;
$ion-label-color-orange:black;
$ion-input-color-its:#242436;
$ion-label-color-its:#242436;
$notifiction-circle-orange:#C0C0C0;
$notifiction-list-background-orange :#C0C0C0;
$notification-text-color-orange:black;
$progress-bar-color-orange:rgb(255, 115, 0);
/*
wee theme variable
*/

$background-color-wee: #452c85;
$home-sections-color-wee: #240d5e;
$home-background-color-wee: #452c85;
$login-background-color-wee: white;
$header-background-wee: #27115f;
$icon-color-wee: #b5d116;
$header-text-color-wee:white;
$detail-text-color-wee:#000000;
$input-border-color-wee:#962071;
$text-color-wee: #962071;
$btn-color-dark-wee:#603b8a; //rgb(255, 115, 0);
$btn-color-light-wee:#962071;
$btn-border-color-wee :#962071;
$ion-input-color-wee:white;
$ion-input-icon-color-wee: #962071;
$ion-label-color-wee:black;
$notifiction-circle-wee:#C0C0C0;
$notifiction-list-background-wee :#C0C0C0;
$notification-text-color-wee:black;
$progress-bar-color-wee:#603b8a;
/**
function that returns the variable according to the theme
*/
@function textColor()
{
    // @if($theme == 'egbank'){
    @return $login-background-color-egbank;
    // }
}
@function greenTxt(){
    @if($theme == 'egbank'){
        @return $notifiction-list-background-egbank
    }
    @else if($theme == 'orange'){
        @return $ion-input-color-orange
    }
    @else if($theme == 'its'){
      @return $ion-input-color-its
    }
    @else if($theme == 'cib'){
        @return $ion-input-color-cib
    }
    @else if($theme == 'wee') {
      @return $ion-input-color-wee
    }

}

@function border(){
    @if($theme == 'egbank'){
        @return $border;
    }
    @else if($theme == 'orange'){
        @return $input-border-color-orange
    }
    @else if($theme == 'its'){
      @return $input-border-color-orange
    }
    @else if($theme == 'wee') {
        @return $input-border-color-wee
    }
    @else if($theme == 'cib') {
        @return $input-border-color-cib
    }
}

@function font-light(){
    // @if($theme == 'egbank'){
    //     @return $font-text-light;
    // }
    // @else if($theme == 'orange'){
        @return $font-text-light
    // }
}
@function font-text(){
    // @if($theme == 'egbank'){
        @return $font-text;
    // }
}
@function font-head(){
    // @if($theme == 'egbank'){
        @return $font-head;
    // }
}
@function border-raduis(){
    @if($theme == 'egbank'){
        @return $border-raduis;
    }
    // @else if($theme == 'orange'){
        @return 0;
//     }
//     @else if($theme == 'its'){
//       @return 0;
//   }
}
@function input-back-color(){
    @if($theme == 'egbank'){
        @return $header-text-color-egbank;
    }
    @else if($theme == 'cib') {
        @return $login-background-color-cib
    }
    @return $login-background-color-orange;
}
@function signUp-li-background(){
    @if($theme == 'egbank'){
        @return $signUp-li-background-color;
    }
    @return $background-color-orange
}
@function login-background-color() {
    @if($theme=='orange') {
        @return $login-background-color-orange;
    }
    @else if($theme=='wee') {
        @return $login-background-color-wee;
    }
    @else if ($theme == 'egbank') {
        @return $login-background-color-egbank;
    }
    @else if ($theme == 'its') {
      @return $login-background-color-its;
    }
    @else if($theme=='cib') {
        @return $login-background-color-cib;
    }
}

@function login-background-color() {
    @if($theme=='orange') {
        @return $login-background-color-orange;
    }
    @else if($theme=='wee') {
        @return $login-background-color-wee;
    }
    @else if ($theme== 'egbank') {
        @return $login-background-color-egbank;
    }
     @else if ($theme == 'its') {
      @return $login-background-color-its;
    }
    @else if($theme=='cib') {
        @return $login-background-color-cib;
    }
}

@function background-color() {
    @if($theme=='orange') {
        @return $background-color-orange;
    }
    @else if($theme=='wee') {
        @return $background-color-wee;
    }
    @else if ($theme== 'egbank') {
        @return $background-color;
    }
    @else if($theme=='its') {
      @return $background-color-its;
    }
    @else if($theme=='cib') {
        @return $background-color-cib;
    }
}

@function home-background-color() {
    @if($theme=='orange') {
        @return $home-background-color-orange;
    }
    @else if($theme=='wee') {
        @return $home-background-color-wee;
    }
    @else if ($theme=='egbank') {
        @return $home-background-color-egbank;
    }
    @else if ($theme=='its') {
      @return $home-background-color-its;
    }
    @else if($theme=='cib') {
        @return $home-background-color-cib;
    }
}

@function home-sections-color() {
    @if($theme=='orange') {
        @return $home-sections-color-orange;
    }
    @else if($theme=='wee') {
        @return $home-sections-color-wee;
    }
    @else if($theme=='its') {
      @return $home-sections-color-orange;
    }
    @else if($theme=='cib') {
        @return $home-sections-color-cib;
    }
}

@function header-background() {
    @if($theme=='orange') {
        @return $header-background-orange;
    }
    @else if($theme=='wee') {
        @return $header-background-wee;
    }
    @else if($theme=='egbank') {
        @return $header-background-egbank;
    }
    @else if($theme=='its') {
      @return $header-background-its;
    }
    @else if($theme=='cib') {
        @return $header-background-cib;
    }
}

@function header-border-color() {
    @if($theme=='egbank') {
        @return $header-border-color-egbank;
    }
    
}

@function icon-color() {
    @if($theme=='orange') {
        @return $icon-color-orange;
    }
    @else if($theme=='wee') {
        @return $icon-color-wee;
    }
    @else if($theme=='egbank') {
        @return $icon-color-egbank;
    }
    @else if($theme=='its') {
      @return $icon-color-orange;
    }
    @else if($theme=='cib') {
        @return $icon-color-cib;
    }
}

@function header-text-color() {
    @if($theme=='orange') {
        @return $header-text-color-orange;
    }
    @else if($theme=='wee') {
        @return $header-text-color-wee;
    }
    @else if($theme=='egbank') {
        @return $header-text-color-egbank;
    }
    @else if($theme=='its') {
      @return $header-text-color-orange;
    }
    @else if($theme=='cib') {
        @return $header-text-color-cib;
    }
}

@function detail-text-color() {
    @if($theme=='orange') {
        @return $detail-text-color-orange;
    }
    @else if($theme=='wee') {
        @return $detail-text-color-wee;
    }
    @else if($theme=='egbank') {
        @return $detail-text-color-egbank;
    }
    @else if($theme=='its') {
      @return $detail-text-color-orange;
    }
    @else if($theme=='cib') {
        @return $detail-text-color-cib;
    }
}

@function input-border-color() {
    @if($theme=='orange') {
        @return $input-border-color-orange;
    }
    @else if($theme=='wee') {
        @return $input-border-color-wee;
    }
    @else if($theme=='egbank') {
        @return $input-border-color-egbank;
    }
    @else if($theme=='its') {
      @return $input-border-color-orange;
    }
    @else if($theme=='cib') {
        @return $input-border-color-cib;
    }
}

@function text-color() {
    @if($theme=='orange') {
        @return $text-color-orange;
    }
    @else if($theme=='wee') {
        @return $text-color-wee;
    }
    @else if($theme=='cib') {
        @return $text-color-cib;
    }
    @else if($theme=='its') {
      @return $text-color-orange;
    }
}

@function btn-color-dark() {
    @if($theme=='orange') {
        @return $btn-color-dark-orange;
    }
    @else if($theme=='wee') {
        @return $btn-color-dark-wee;
    }
    @else if($theme=='egbank') {
        // @return $btn-color-dark-egbank;
        @return $background-transperent;
    }
    @else if($theme=='its') {
      @return $btn-color-dark-orange;
    }
    @else if($theme=='cib') {
        @return $btn-color-dark-cib;
    }
}


@function btn-color-light() {
    @if($theme=='orange') {
        @return $btn-color-light-orange;
    }
    @else if($theme=='wee') {
        @return $btn-color-light-wee;
    }
    @else if($theme=='egbank') {
        @return $btn-color-light-egbank;
    }
    @else if($theme=='its') {
      @return $btn-color-light-orange;
    }
    @else if($theme=='cib') {
        @return $btn-color-light-cib;
    }
}

@function btn-border-color() {
    @if($theme=='orange') {
        @return $btn-border-color-orange;
    }
    @else if($theme=='wee') {
        @return $btn-border-color-wee;
    }
    @else if ($theme == 'egbank') {
        @return $btn-border-color-egbank;
    }
    @else if($theme=='its') {
      @return $btn-border-color-orange;
    }
    @else if($theme=='cib') {
        @return $btn-border-color-cib;
    }
}

@function ion-input-color() {
    @if($theme=='orange') {
        @return $ion-input-color-orange;
    }
    @else if($theme=='wee') {
        @return $ion-input-color-wee;
    }
    @else if($theme=='egbank') {
        @return $ion-input-color-egbank;
    }
    @else if($theme=='its') {
      @return $ion-input-color-its;
    }
    @else if($theme=='cib') {
        @return $background-color-cib;
    }
}

@function ion-input-icon-color() {
    @if($theme=='orange') {
        @return $ion-input-icon-color-orange;
    }
    @else if($theme=='wee') {
        @return $ion-input-icon-color-wee;
    }
    @else if($theme=='its') {
      @return $ion-input-icon-color-orange;
    }
    @else if($theme=='cib') {
        @return $ion-input-icon-color-cib;
    }
}

@function ion-label-color() {
    @if($theme=='orange') {
        @return $ion-label-color-orange;
    }
    @else if($theme=='wee') {
        @return $ion-label-color-wee;
    }
    @else if($theme=='egbank') {
        @return $header-text-color-egbank;
    }
    @else if($theme=='its') {
      @return $ion-label-color-its;
    }
    @else if($theme=='cib') {
        @return $ion-label-color-cib;
    }
}

@function notifiction-circle() {
    @if($theme=='orange') {
        @return $notifiction-circle-orange;
    }
    @else if($theme=='wee') {
        @return $notifiction-circle-wee;
    }
    @else if($theme=='its') {
      @return $notifiction-circle-orange;
    }
    @else if($theme=='cib') {
        @return $notifiction-circle-cib;
    }
}

@function notifiction-list-background() {
    @if($theme=='orange') {
        @return $notifiction-list-background-orange;
    }
    @else if($theme=='wee') {
        @return $notifiction-list-background-wee;
    }
    @else if($theme=='egbank') {
        @return $transperent-background;
    }
    @else if($theme=='its') {
      @return $notifiction-list-background-orange;
    }
    @else if($theme=='cib') {
        @return $notifiction-list-background-cib;
    }
}

@function notification-text-color() {
    @if($theme=='orange') {
        @return $notification-text-color-orange;
    }
    @else if($theme=='wee') {
        @return $notification-text-color-wee;
    }
    @else if($theme=='its') {
      @return $notification-text-color-orange;
    }
    @else if($theme=='cib') {
        @return $notification-text-color-cib;
    }
}

@function progress-bar-color() {
    @if($theme=='orange') {
        @return $progress-bar-color-orange;
    }
    @else if($theme=='wee') {
        @return $progress-bar-color-wee;
    }
    @else if($theme=='its') {
      @return $progress-bar-color-orange;
    }
    @else if($theme=='cib') {
        @return $progress-bar-color-cib;
    }
}
