// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face {
  font-family: 'headline_bold';
  src: url('../assets/egbank/fonts/headline_bold.ttf') format("truetype");
  font-weight: bold; 
  font-style: normal
  }
@font-face {
  font-family: 'text_light';
  src: url('../assets/egbank/fonts/text_light.ttf') format("truetype");
  font-weight: normal;
  font-style: 'normal'
  }
@font-face {
  font-family: 'p_text';
  src: url('../assets/egbank/fonts/p_text.ttf') format("truetype");
  font-weight: normal;
  font-style: 'normal'
    } 
 
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: multi;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
 // primary:    #488aff,
  primary:    #005BAB,
  secondary:  #05B798,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bluedark:   #003454,
  orangdark:  #EE7E00,
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-md-show-focus-highlight: false;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
