<ion-header >
  <ion-grid no-padding class="sub-service-header">
    <ion-row>
      <ion-col col-1 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{provider_name}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content >
  <div>
    <ion-grid  class="sub-service-body">
      <ion-row>
        <ion-col  col-4  *ngFor="let service of services">
          <div  class="oprator-felids" (click)="goToService(service)">
            <p >{{service.name}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>