// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .img {
//   height: 15%;
//   width: 12%;
//    display:block;
//    margin-top:0;
//    margin-left:5%;
//    margin-right:5%;
// }


// @font-face {
//   font-family: Saira-Thin;
//   font-weight: thin;
//   src: url("../assets/fonts/Saira-Thin.ttf") format("truetype");
// }

// @font-face {
//   font-family: Proxima-Thin;
//   font-weight: thin;
//   src: url("../assets/fonts/Proxima-Nova-Thin.otf") format("opentype");
// }

// @font-face {
//   font-family: Proxima-Light;
//   font-weight: lighter;
//   src: url("../assets/fonts/Proxima-Nova-Light.otf") format("opentype");
// }

// @font-face {
//   font-family: Proxima-Regular;
//   src: url("../assets/fonts/Proxima-Nova-Regular.otf") format("opentype");
// }

// @font-face {
//   font-family: Proxima-Semibold;
//   font-weight: bold;
//   src: url("../assets/fonts/Proxima-Nova-Semibold.otf") format("opentype");
// }

// @font-face {
//   font-family: Proxima-Bold;
//   font-weight: bolder;
//   src: url("../assets/fonts/Proxima-Nova-Bold.otf") format("opentype");
// }
  

// $font-family-base:"headline_bold";
.the-header h1{
  font-family: 'headline_bold' !important;
  // font-weight: bold !important;
  // src: url('./assets/egbank/fonts/headline_bold.ttf') format("ttf");
}
.statistics-body {
  font-family: 'p_text' !important
}
.smart_wallet {
  color: #005BAB;
  font-size:1.6rem;
}

.item-inner {
  border-bottom: none !important;
}

 //selected color
.toolbar-md-primary .toolbar-background-md{
  background:#005bab;
}
.toolbar-ios-primary .toolbar-background-ios{
  background:#005bab;
}
 .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
      color: map-get($colors, primary);
 }

 .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
      color: map-get($colors, primary);

 }

 .tabs-md .tab-button[aria-selected=true] {
  color: grey;/*your  text color */
  //  background: #808080; /* your background color*/
}

.tabs-ios .tab-button[aria-selected=true] {
 color: grey;/*your  text color */
 //  background: #808080; /* your background color*/
}

 .tabs-ios .tabbar {
   box-shadow: 5px 5px 5px 5px #808080;
  // border-top: px rgba(0, 0, 0, 0.3);
     background: #f8f8f8;
 }

 .tabs-md .tabbar {
     box-shadow: 5px 5px 5px 5px #808080;
    // border-top: px rgba(0, 0, 0, 0.3);
     background: #f8f8f8;
 }


 .text-input::-moz-placeholder {
   color: #335a67;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .text-input:-ms-input-placeholder {
   color: #335a67;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .text-input::-webkit-input-placeholder {
   text-indent: 0;
   color: #335a67;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

