@import '../../theme/theme';
page-transfer-confirmation {
  ion-header {
    background-color: header-background();
    text-align: center;

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      margin-top: 14px;
    }
  } // THE HEAD


  .confirmation-body {
    text-align: center;
    margin-top: 2rem;

    .body-section {
      .el-container {
        border: 2px solid #9fa8a3;
        border-radius: 8px;

        .bill-area {
          border: 2px solid #9fa8a3;
          border-radius: 8px;
          margin-bottom: 10px;
          padding: 7px 0 ;
        }

        p {
          font-size: 15px;
          color: #335a67;
          margin: 0;
        }

        .r {
          text-align: left;
          
        }
        .l {
          text-align: right;
        }


        .c1 {
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 50%;
          margin: -11px 0 0 -28px;
          border-right: 2px solid #9fa8a3;
        }

        .c2 {
          width: 20px;
          height: 20px;
          background-color: white;
          border-radius: 50%;
          border-left: 2px solid #9fa8a3;
          margin: -20px 0 0 103%;
        }
        
      } // CONTAINER

      
     
      p {
        font-size: 16px;
        color: #335a67;
        font-weight: 600;
        margin-bottom: 3%;
      }

      .inputarea {
        padding: 0 40px;
        ion-input {
          border: 2px solid #9fa8a3;
          border-radius: 5px;
          font-weight: 700;
        }
      }
      

    } //BODY SECTION


    .el-button {
      margin-top: 0;
      font-size: 18px;
      border-radius: 0;
      background-color: btn-color-dark();
    }

    .el-button:active,.el-button:active,.el-button:hover{
      background-color: btn-color-light();
    }

  }
}
