<ion-header>
  <ion-grid class="trans-head" no-padding>
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col>
          <h2>{{'transfer'|translate}} {{'Confirmation'|translate}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid><!--END OF THE HEADER-->
</ion-header>

<ion-content no-padding>
  <div class="confirmation-body">
    

    <ion-grid class="body-section" padding>
      <div class="el-container" padding>
        <ion-row class="bill-area">
          <ion-col class="r">
            <p>{{'To'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{walletId}}</p>
          </ion-col>
        </ion-row>

        <ion-row class="bill-area">
          <ion-col class="r">
            <p>{{'Amount'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{amount | number:'.2-2'}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row class="bill-area">
          <ion-col class="r">
            <p>{{'Fees'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{fees}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row class="bill-area">
          <ion-col class="r">
            <p>{{'Commissions'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{commissions}}</p>
          </ion-col>
        </ion-row>

        <ion-row class="bill-area" *ngIf='additionalData && additionalData.tips'>
          <ion-col class="r">
            <p>{{'Tips'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{additionalData?.tips | number:'.2-2'}}</p>
          </ion-col>
        </ion-row>

        <ion-row class="bill-area" *ngIf='additionalData && additionalData.convenience'>
          <ion-col class="r">
            <p>{{'Convenience'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{additionalData.convenience | number:'.2-2'}}</p>
          </ion-col>
        </ion-row>

        <ion-row class="bill-area">
          <ion-col class="r">
            <p>{{'total'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{  (totalAmount < 0) ? viewTotalAmount(totalAmount) :  (totalAmount | number:'.2-2')  }}</p>
          </ion-col>
        </ion-row>


        <ion-row class="new_balance">
          <ion-col class="r">
            <p>{{'new-balance'|translate}}</p>
          </ion-col>
          <ion-col class="l">
            <p>{{balance | number:'.2-2'}}</p>
          </ion-col>
        </ion-row>
      </div>

      <p>{{'confirm-mpin'|translate}}</p>
      
      
      <ion-item class="inputarea" padding>
        <ion-input  type="number" style="-webkit-text-security:disc;" [(ngModel)]="pin" (ngModelChange)="detectPinChange($event)"></ion-input>
      </ion-item>
      
    </ion-grid><!--END OF THE BODY-->

    <ion-row padding>
      <button ion-button block (click)="confirm()" class="el-button">{{'CONFIRM'|translate}}</button>
    </ion-row>
    
    
    <ion-row>
      <div style="width: 100%;padding-top: 10px;">
        <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
      </div>
    </ion-row>
    
  </div>
</ion-content>