<ion-header >
	<ion-grid no-padding class="online-card-head">
		<ion-row>
			<ion-col col-1 class="r-icon" no-padding>
				<button ion-button clear icon-only (click)="back()">
					<ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<h2>{{'Vcc enquire'|translate}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content padding>
	<div [ngSwitch]="step" class="online-card-body">
		<form action="">
			<div *ngSwitchCase="1">
				<ion-row>
					<ion-item>
						<ion-icon name="lock" item-left></ion-icon>
						<ion-label stacked>{{'mPIN'|translate}}</ion-label>
						<ion-input style="-webkit-text-security:disc;" [(ngModel)]="mpin" name="mpin" (ngModelChange)="detectPinChange($event)" type="number" placeholder="{{'Enter-the'|translate}} {{'mPIN'|translate}}"></ion-input>
					</ion-item>
				</ion-row>
				<br>
				<button ion-button color="primary" block (click)="validateMpin()">{{'Next'|translate}}</button>
			</div>

			<div *ngSwitchCase="2">
				<h4 *ngIf="!VccCards.length">No Cards</h4>
				<ion-list>
					<ion-item-sliding *ngFor="let vcccard of VccCards">
						<ion-item id="maskedcard">
							<ion-icon name="arrow-dropleft" item-right (click)="cardDetails(vcccard.ref_num)"></ion-icon>
							<div>
								<strong>Masked Card {{vcccard.id}}:</strong>
							</div>
							<h4 style="padding:10px">{{vcccard.card_mask}} </h4>
						</ion-item>
					</ion-item-sliding>
				</ion-list>
			</div>

			<div *ngSwitchCase="3">
				<ion-card class="display-card">
					<ion-row>
						<ion-item class="table-header">
							<h6 style="color: white; font-size: 20px ;padding-left:7px">{{'Virtual Credit Card Details'|translate}}</h6>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>Number: {{VccDetails.PAN}}</h2>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>cvv: {{VccDetails.CVC}}</h2>
						</ion-item>
					</ion-row>

					<ion-row>
						<ion-item>
							<h2>exp: {{VccDetails.expiryDate}}</h2>
						</ion-item>
					</ion-row>
				</ion-card>
			</div>

		</form>
	</div>
</ion-content>