@import "../../theme/theme";

vcc-enquire {

    ion-item-sliding {

        margin: 10px;

        ion-icon {
            font-size: 30px;
        }
    }
      .table-header{
        text-align: center;
        background-color: header-background();

      }

       #maskedcard{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: notifiction-list-background();
        text-align: center;
       }
        .online-card-head {
            text-align: center;
            background-color: header-background();

            .r-icon {
                text-align: left;
            }
            ion-icon {
                font-size: 25px;
                color: icon-color();
            }
            h2 {
                    color: header-text-color();
                    margin-top: 14px;
            }
        }


        .online-card-body {
            text-align: center;
            height: 100%;

            ion-row {
                border-bottom: 1px solid input-border-color();
            }
            ion-icon {
                font-size: 25px;
                color: icon-color();
                margin-bottom: 0;
            }
            ion-item {
                padding: 0;
            }
            ion-input {
                margin: 0;
                color: ion-input-color();
                font-size: 14px;
                padding: 0 5px;
            }
            ion-label {
                margin-bottom: 0;
                color: ion-label-color();
                font-weight: 700;
            }

            button {
                background-color: btn-color-dark();
                color: white;
            }

            button:active, button:hover{
                background-color: btn-color-light();
            }

            .display-card{
                display: table-row;
                background-color: darkgray;
            }
        }

    }
