page-service-provider {
    .service-pro-el-header {
        text-align: center;
        background-color: header-background();
        .l-icon {
            text-align: right;
        }
        .r-icon {
            text-align: left;
        }
        ion-icon {
            font-size: 25px;
            color: icon-color();
        }
        h2 {
            color: white;
            font-weight: 500; //margin: 0 0 5px 0;
            margin-bottom: 12px;
        }
    } //HEADER
    .service-pro-el-body {
        text-align: center;
        position: fixed;
        .oprator-felids {
            padding: 0 5px;
            box-shadow: 1px 2px 5px header-background();
            transition: .4s;
            height: 100px;
            width: 100px
        }
        .oprator-felids:active {
            transition: 0.4s;
            transform: scale(0.9)
        }
        img{
            height: 100px;
            width: 300px;
            position: relative;
          }
    } //BODY
}