<ion-header >
  <ion-grid no-padding class="service-pro-el-header">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{cat_name}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="home()">
          <!-- <ion-icon ios="ios-home" md="md-home"></ion-icon> -->
          <img class="home-icon" src="assets/its/home-icon.png" > 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content no-padding>
  <div>
    <ion-grid class="service-pro-el-body">
      <ion-row>
        <ion-col col-4 *ngFor="let provider of providers">
          <div class="oprator-felids" (click)="goToService(provider)">
            <img [src]="global?.baseUrl+provider.img_url" alt="{{provider.name}}">
          </div>
          <p>{{provider.name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>