@import '../../theme/theme';
page-success-message {
  .success-body {
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;

    .sec-1 {
      width: 100%;
      height: 40%;
      
      img {
        top: 30%;
        position: relative;
        margin: 0 auto;
        width: auto;
        height: 140px;
      }

      .checkmarked {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border: 1px solid hsla(141, 96%, 35%, 0.678);
        border-radius: 4px;
      }
  
      .checkmarked-icon {
        color: hsla(141, 96%, 35%, 0.678);
        font-size: 10.2em;
      }

    }


    h4 {
      font-size: 25px;
      font-weight: 700;
      color: detail-text-color();
    }

    p {
      font-size: 17px;
      font-weight: 600;
      color: detail-text-color();
      margin-top: 0;
    }



    .sec-3 {
      width: 100%;
      height: 30%;
      
      button {
        position: relative;
        top: 70%;
        font-size: 16px;
        border-radius: 0;
        background-color: btn-color-dark()
      }
    }
  }
}
