<ion-content no-padding>
    <div class="success-body">
        <ion-row class="sec-1">

            <img src="assets/egbank/req-success-img.png" *ngIf="iconType === 'success' ">

            <ion-col col-12 style="align-self: center;" *ngIf="iconType === 'pending' ">
                <div class="checkmarked">
                    <ion-icon class="checkmarked-icon" name="more"></ion-icon>
                </div>
            </ion-col>
        </ion-row>


        <h4>{{'Request Succeeded'|translate}}!</h4>
        <p>{{message}}</p>


        <ion-row class="sec-3">
            <ion-col>
                <button ion-button block (click)="done()">{{'Done'|translate}}</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>