<ion-header >
  <ion-grid no-padding class="pruchase-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{title | translate}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="favourite()">
          <ion-icon ios="ios-star"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div ion-fixed class="pruchase-body">

    <ion-grid class="the-body" padding>

      <p>{{'title.purchase.1'|translate}}
        <span *ngIf="merchantName">{{ merchantName }}</span>

      </p>

      <ion-row  class="the-rows" >
        <ion-col>
          <ion-item>
            <ion-icon name="phone-portrait" item-left></ion-icon>
            <ion-label stacked>{{'m-n'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="walletId" (ngModelChange)="detectNumberChange($event)" [disabled]='disableWalletId'
              placeholder="{{'Enter-the'|translate}} {{'m-n'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 class="col-1" *ngIf="!isComingFromQrCode">
          <ion-icon name="contact" (click)="getContact()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="the-rows" >
        <ion-col col-11>
        <ion-item>
          <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
          <ion-label stacked>{{'Amount'|translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="amount" (ngModelChange)="detectAmountChange($event)" [disabled]='disableAmount' placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
          
        </ion-item>
      </ion-col>
        <!-- <ion-col col-1></ion-col> -->
        
      </ion-row>

      <div *ngIf="!isComingFromQrCode">

        <ion-row  class="the-rows" *ngIf='!additionalData.convenience'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Tips'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="additionalData.tips" placeholder="{{'Enter-the'|translate}} {{'Tips' |translate}}"
              (ngModelChange)="detectTipsChange($event)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row  class="the-rows" *ngIf='additionalData.convenience'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Convenience'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="additionalData.convenience" disabled>
            </ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row  class="the-rows">
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'bill id'|translate}}</ion-label>
            <ion-input type="number" name="billId" [(ngModel)]="additionalData.reference1" [disabled]='disableRef1' placeholder="{{'Enter-the'|translate}} {{'bill id' |translate}}"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row  class="the-rows">
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'reference'|translate}}</ion-label>
            <ion-input type="number" name="reference" [(ngModel)]="additionalData.reference2" [disabled]='disableRef2' placeholder="{{'Enter-the'|translate}} {{'reference'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

      </div>

      <div *ngIf="isComingFromQrCode">

        
          <ion-row  class="the-rows" *ngIf='convenience'>
              <ion-col>
              <ion-item>
                <ion-label stacked>{{'convenience'|translate}}</ion-label>
                <ion-input type="number" [(ngModel)]="convenience" placeholder="{{'Enter-the'|translate}} {{'convenience' |translate}}" (ngModelChange)="detectTipsChange($event)"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>

            
        <ion-row  class="the-rows" *ngIf='tips'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Tips'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="tipsField" placeholder="{{'Enter-the'|translate}} {{'Tips' |translate}}" (ngModelChange)="detectTipsChange($event)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row  class="the-rows" *ngIf='additionalData.billNumber'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'bill id'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="billNumberField" placeholder="{{'Enter-the'|translate}} {{'bill id' |translate}}" [disabled]="isDisabled(additionalData.billNumber)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.mobileNumber'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'m-n'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="mobileNumberField" placeholder="{{'Enter-the'|translate}} {{'m-n' |translate}}"
              [disabled]="isDisabled(additionalData.mobileNumber)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.storeLabel'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Store label'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="storeLabelField" placeholder="{{'Enter-the'|translate}} {{'store label' |translate}}"
              [disabled]="isDisabled(additionalData.storeLabel)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.loyaltyNumber'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Loyalty number'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="loyaltyNumberField" placeholder="{{'Enter-the'|translate}} {{'loyalty number' |translate}}"
              [disabled]="isDisabled(additionalData.loyaltyNumber)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.referenceLabel'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Reference label'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="referenceLabelField" placeholder="{{'Enter-the'|translate}} {{'reference label' |translate}}"
              [disabled]="isDisabled(additionalData.referenceLabel)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.customerLabel'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Customer label'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="customerLabelField" placeholder="{{'Enter-the'|translate}} {{'customer label' |translate}}"
              [disabled]="isDisabled(additionalData.customerLabel)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.terminalLabel'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Terminal label'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="terminalLabelField" placeholder="{{'Enter-the'|translate}} {{'terminal label' |translate}}"
              [disabled]="isDisabled(additionalData.terminalLabel)"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row class="the-rows" *ngIf='additionalData.pot'>
          <ion-col>
          <ion-item>
            <ion-label stacked>{{'Purpose of transaction'|translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="potField" placeholder="{{'Enter-the'|translate}} {{'purpose of transaction' |translate}}"
              [disabled]="isDisabled(additionalData.pot)"></ion-input>
          </ion-item>
      </ion-col>
        </ion-row>

      </div>


    </ion-grid>


    <ion-row>
      <div style="width: 100%;padding-top: 10px;">
        <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
      </div>
    </ion-row>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="validate()">{{'transfer'|translate}}</button>
      </ion-col>
      <ion-col>
        <button class="scan-btn" ion-button block (click)="scanQrcode()">{{'Scan'|translate}} {{'QrCode'|translate}}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>