@import '../../theme/theme';

page-purchase {
  .pruchase-head {
    background-color: header-background();
    text-align: center;

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: header-text-color();
      margin-top: 14px;
    }
  } //header

  .pruchase-body {
    text-align: center;
    height: 100%;

    p {
      margin: 0 ;
      font-size: 16px;
      color: detail-text-color();
      font-weight: 600;
    }

    .the-rows{
      margin: 10px 0 0 0;
      padding: 0 ;
      border-bottom: 1px solid ion-input-color();
    }

    ion-icon {
      font-size: 25px;
      color: icon-color();
      margin-bottom: 0;
    }

    ion-item {
      padding: 0;
    }
    ion-input {
      margin: 0;
      color: ion-input-color();
      font-size: 14px;
      padding: 0 5px;
    }
    ion-label {
      margin-bottom: 0;
      color: ion-label-color();
      font-weight: 700;
    }
    .col-1{
      margin: 15px 0 0 0;
    }


    button {
      border-radius: 0;
    }


  }

  .submit-btn{
    background-color: btn-color-dark();
  }

  .submit-btn:active,.submit-btn:hover,.submit-btn:focus{
    background-color: btn-color-light();
  }

  .toolbar-background-ios {
    background-color: white;
  }

  .scan-btn {
    color: text-color();
    background-color: white;
    border: 1px solid input-border-color();
  }
  .scan-btn:active {
    background-color: btn-color-light();
    border: 1px solid white;
    color: white;
  }
}
