@import "../../theme/theme";

page-notifications {
      .scroll-content{
        background-image: unset !important
      }
  ion-header {
    background-color: header-background();
    text-align: center;

    ion-row {
      margin: 0;
    }
    .left-icon {
      text-align: left;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
      text-align: left;
    }

    h2 {
      margin-top: 14px;
      color: header-text-color();
    }
  } // HEADER

  .noti-body {
    
    .left-side {
      border-right: 2px solid notifiction-circle();
      margin-right: 11px;
 
      
    } // LEFT SIDE
    

    .right-side {
      .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: notifiction-circle();
        position: absolute;
        margin: -22px 0 0 -70px;
      }
      
    } //RIGHT SIDE


    .noti-card {
      text-align: left;
      border-radius: 8px;
      background-color: notifiction-list-background();
      padding-right: 25px;
      padding-left: 25px;

      h3 {
        color: notification-text-color();
        font-size: 18px;
      }
      
      ion-card-content {
        padding: 0;
      }

      p {
        color: notification-text-color();
        font-size: 14px;
      }

      .noti-data {
        margin-top: 10px;
      }
      .date {
        font-size: 11px;
      }
    }
  }
}
