<ion-header>
  <ion-row no-padding class="notif-head">
    <ion-col col-1 class="left-icon" no-padding>
      <button ion-button clear icon-only (click)="back()">
        <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
      </button>
    </ion-col>
    <ion-col><h2>{{'notifications'|translate}}</h2></ion-col>
  </ion-row>
</ion-header>


<ion-content no-padding>
  <div class="noti-body" no-padding>
    <div *ngIf="showNoData">
      <h1>{{'No Data'|translate}}</h1>
    </div>
    <ion-grid *ngIf="!showNoData">
      <ion-row >
        <ion-col col-1 class="left-side">
          <div class="line"></div>
        </ion-col>
    
        <ion-col class="right-side">
          <ion-card class="noti-card" padding *ngFor="let noti of notifications">
            <h3 [ngClass]="{'succ' :noti.title === 'Transaction Successful'}">
              {{noti.title}}
              <div class="circle" ></div>
            </h3>
            <ion-card-content>
              <p class="noti-data">
                {{ noti?.data?.message || noti?.body }}
              </p>
              <p class="date">
                {{ noti.createdAt | date:'short' }}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
  
  
 
  <ion-infinite-scroll (ionInfinite)="fetchMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>