<ion-header class="qr-code-head">
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-1 class="r-icon" no-padding>
                <button ion-button clear icon-only (click)="back()">
                    <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <h2>{{'QrCode'|translate}}</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content no-padding>

    <div class="qr-code-body">
        <form action="">

            <ion-row>
                <div style="width:100%">
                    <canvas #canv style="margin-left: auto;margin-right: auto;display: block;"></canvas>
                </div>
            </ion-row>

            <ion-row>
                <div style="width:100%">
                    <h5 for="">{{ globals.fullname }}</h5>
                </div>
            </ion-row>

            <ion-row>
                <div style="width:100%">
                    <h5 for="">{{ globals.walletId }}</h5>
                </div>
            </ion-row>

            <ion-row>
                <button ion-button class="submit-btn" (click)="goToGenerateDynamicCode()" block>{{'Generate Qr-Code'|translate}} </button>
            </ion-row>

            <ion-row>
                <div style="width: 100%;margin-top: 10px;">
                    <img src="assets/tahweel_logo.png" style="width: auto; height: 35px;">
                </div>
            </ion-row>

        </form>
    </div>
</ion-content>