.from-card-to-wallet-head {
    text-align: center;
    background-color: header-background();

    .r-icon {
        text-align: left;
    }            
    ion-icon {
        font-size: 25px;
        color: icon-color();
    }
    h2 {
            color: header-text-color();
            margin-top: 14px;
            font-family: font-head();
    }
}


.from-card-to-wallet-body {
    .scroll-content{
        background-image: unset !important
      }
    text-align: center;
    height: 100%;
    font-family: font-light();
    

    ion-row {
        border-bottom: 1px solid input-border-color();
    }
    ion-icon {
        font-size: 35px;
        color: icon-color();
        margin-bottom: 0;
    }
    ion-item {
        padding: 0;
    }
    ion-input {
        margin: 0;
        color: ion-input-color();
        font-size: 14px;
        padding: 0 5px;
    }
    ion-label {
        margin-bottom: 0;
        color: ion-label-color();
        font-weight: 700;
    }

    .btn {
        background-color: btn-color-dark();
        color: textColor();
        border: border();
        font-family: font-head() !important;
        border-radius: 0%
    }

    button:active, button:hover{
        background-color: btn-color-light();
        color:greenTxt();
    }
}
.item-ios{
    background-color: unset;
}
.item-ios ion-input{
    background-color: white;
}
