<ion-header >
	<ion-grid no-padding class="from-card-to-wallet-head">
		<ion-row>
			<ion-col col-1 class="r-icon" no-padding>
				<button ion-button clear icon-only (click)="back()">
					<ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<h2>{{title|translate}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>


<ion-content padding>
	<div class="from-card-to-wallet-body">
		<ion-row class="the-rows">
			<ion-col>
			<ion-item>
				<ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
				<ion-label stacked>{{'Amount'|translate}}</ion-label>
				<ion-input [(ngModel)]="amount" name="amount" (ngModelChange)="detectAmountChange($event)" type="number" placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}"></ion-input>
			</ion-item>
		</ion-col>
		</ion-row>

		<div padding *ngIf="amount && amount!=='0' ">
			<button class="btn" ion-button block (click)="stepOne()">{{'Next'|translate}}</button>
		</div>

	</div>

</ion-content>
