@import '../../theme/theme';

page-money-transfer {
  .scroll-content{
  background-image: unset !important
}
  .money-transfer-head {
    text-align: center;
    background-color: header-background();

    .header-text{
      color:header-text-color();
    }

    .r-icon {
      text-align: left;
    }
    .l-icon {
      text-align: right;
    }
    ion-icon {
      font-size: 25px;
      color: icon-color();
    }
    h2 {
      color: white;
      margin-top: 14px;
    }
  } // THE HEAD

  
  .money-transfer-body {
    text-align: center;
    
    .the-body {
      padding: 0 30px;
      p {
        font-size: 18px;
        color: detail-text-color();
        font-weight: 600;
      }

      .the-rows{
        margin: 15px 0 0 0;
        padding: 0 ;
        border-bottom: 1px solid ion-input-color();
      }

      ion-icon {
        font-size: 25px;
        color: icon-color();
        margin-bottom: 0;
      }

      ion-item {
        padding: 0;
      }
      ion-input {
        margin: 0;
        color: ion-input-color();
      }
      ion-label {
        margin-bottom: 0;
        color: ion-label-color();
        font-weight: 700;
      }
      .col-1{
        margin: 15px 0 0 0;
      }
    }

    button {
      border-radius: 0;
      font-size: 18px;
      background-color: btn-color-dark();
    }
    
  }
}
