<ion-header >
  <ion-grid no-padding class="money-transfer-head">
    <ion-row>
      <ion-col col-1 class="r-icon" no-padding>
        <button ion-button clear icon-only (click)="back()">
          <ion-icon ios="ios-arrow-{{'back-arrow'|translate}}" md="md-arrow-{{'back-arrow'|translate}}" ></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <h2>{{'transfer'|translate}}</h2>
      </ion-col>
      <ion-col col-2 class="l-icon" no-padding>
        <button ion-button clear icon-only (click)="favourite()">
          <ion-icon ios="ios-star"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div ion-fixed class="money-transfer-body">

    <ion-grid class="the-body" padding>
      <p>{{'title.money-transfer.1' | translate}}</p>
<form action="">
      <ion-row padding class="the-rows">
        <ion-col>
          <ion-item>
            <ion-icon name="phone-portrait" item-left></ion-icon>
            <ion-label stacked>{{'m-n'|translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="walletId"
            name="walletId"
            (ngModelChange)="detectNumberChange($event)" [disabled]='disableWalletId' placeholder="{{'Enter-the'|translate}} {{'m-n'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 class="col-1">
          <ion-icon name="contact" item-right (click)="getContact()"></ion-icon>
        </ion-col>
        
      </ion-row>

      <ion-row padding class="the-rows">
        <ion-col col-11>
          <ion-item>
            <ion-icon ios="ios-cash" md="md-cash" item-left></ion-icon>
            <ion-label stacked>{{'Amount'|translate}}</ion-label>
            <ion-input type="number"  [(ngModel)]="amount" name="amount"
            (ngModelChange)="detectAmountChange($event)" [disabled]='disableAmount' placeholder="{{'Enter-the'|translate}} {{'Amount'|translate}}" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <button class="transfer-btn" type="submit" ion-button block (click)="validate()">{{'transfer'|translate}}</button>

    </form> 
    </ion-grid>


     
  </div>
</ion-content>
